FORMAT: 1A
HOST: https://api.polkaspots.com

# PolkaSpots API Documentation for Cucumber Tony (Beta).

##I'm doing it with Cucumber Tony's API, are you?##

Cucumber Tony's API provides a way to control your Wireless networks programatically. This documentation is not considered production ready.

Our API is based on REST principles, all you need to use it is your Cucumber Tony account. You must be authenticated and call HTTPs requests on the URLs listed below. 

Please create an application in Cucumber Tony and use your access token in all requests. More documentation will follow.

The API uses secure Oauth2 to authenicate. You need to create an application before you can use the end-points.

>**Note:** Some resources trigger updates to your boxes. Sending invalid data can cause your boxes to crash.

## Generally Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied. Naughty pants.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 422 `Bad Request` - The request could not be understood or was missing required parameters.
- 429 `Too Many Requests` - Exceeded our API limits of 60 per minute. 
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

##Oauth2 

To make use of the Cucumber Tony API, you will need an access token (and refresh token if building a more persistent application).

For more information how to generate this, create an application here:

https://mywifi.polkaspots.com/oauth/applications

SSL is required.

# Group Boxes

Boxes belong to locations and whilst you can read, update, destroy and perform other non-restful actions on a box (or boxes), you are not permitted to create a box without specifiying a location_id with the parameters.

For information about upgrading the software on your devices, please use the payloads API.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Boxes Collection [/api/v1/boxes]

Lists all your boxes globally.

### List all Boxes [GET]

+ Response 200 (application/json)


    + Body

            [
                {
                    "nasname": "10.85.10.162",
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti AirRouter",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 2",
                    "state": "Online",
                    "can_reboot": true,
                    "rebooted": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "10.85.13.238",
                    "slug": "bzwZif_WftBTFkPDfjfJfA",
                    "calledstationid": "24-A4-3C-7C-FC-0A",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 4",
                    "state": "Online",
                    "can_reboot": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "2.5.6.7",
                    "slug": "BFU1ZP9QeN0k3NSIIz8UQQ",
                    "calledstationid": "00-27-22-50-5C-E1",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": null,
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": false,
                    "connected_clients_size": 5
                },
                {
                    "nasname": "10.85.18.146",
                    "slug": "fUMJ89X6s4MM1AajUHl-fQ",
                    "calledstationid": "24-A4-3C-02-37-67",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi AP Pro",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": true,
                    "connected_clients_size": 0
               }
            ]

## Location Boxes Collection [/api/v1/locations/{location_id}/boxes]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Location Boxes [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body

            {
                "stats": {
                    "total": null
                },
                "boxes": [
                    {
                        "id": 3184,
                        "nasname": "6.2.5.0",
                        "slug": "xxxx-nusg4jvflp4g",
                        "calledstationid": "CC-10-8A-13-52-A0",
                        "location_id": 2586,
                        "machine_type": null,
                        "is_polkaspots": true,
                        "label_name": "default",
                        "description": "Le Gaff 8 - Ruckus",
                        "avg_speedtest": null,
                        "human_state": "New",
                        "state": "new",
                        "can_reboot": false,
                        "device_icon": "blank.png",
                        "clients_online": 0,
                        "firmware_version": null,
                        "gubbins_version": null,
                        "uptime": null
                    },
                    {
                        "id": 3183,
                        "nasname": "4.1.7.6",
                        "slug": "xxxxx_2nru_oc6plfg",
                        "calledstationid": "xx-xx-72-C6-3C-E8",
                        "location_id": 2586,
                        "machine_type": null,
                        "is_polkaspots": false,
                        "label_name": "default",
                        "description": "Aruba",
                        "avg_speedtest": null,
                        "human_state": "New",
                        "state": "new",
                        "can_reboot": false,
                        "device_icon": "blank.png",
                        "clients_online": 0,
                        "firmware_version": null,
                        "gubbins_version": null,
                        "uptime": null
                    },
                    {
                        "id": 3179,
                        "nasname": "3.6.7.3",
                        "slug": "xxxxirvamw1hdyhhfga",
                        "calledstationid": "xx-xx-7D-20-0E-87",
                        "location_id": 2586,
                        "machine_type": null,
                        "is_polkaspots": true,
                        "label_name": "default",
                        "description": "Le Gaff 6",
                        "avg_speedtest": null,
                        "human_state": "New",
                        "state": "new",
                        "can_reboot": false,
                        "device_icon": "blank.png",
                        "clients_online": 0,
                        "firmware_version": null,
                        "gubbins_version": null,
                        "uptime": null
                    },
                    {
                        "id": 3187,
                        "nasname": "10.80.21.198",
                        "slug": "xxxdtiebgf08dcsy-sbw",
                        "calledstationid": "xx-xx-3C-02-37-26",
                        "last_heartbeat": 1425064690,
                        "location_id": 2586,
                        "machine_type": "Ubiquiti UniFi AP Pro",
                        "is_polkaspots": true,
                        "label_name": "danger",
                        "description": "Le Gaff 9",
                        "avg_speedtest": null,
                        "human_state": "Offline",
                        "state": "offline",
                        "can_reboot": false,
                        "device_icon": "ubiquiti-unifi-ap-pro-icon.png",
                        "clients_online": 1,
                        "firmware_version": "p_141203_00",
                        "gubbins_version": "1.3.5",
                        "uptime": " 19:18:06 up  3:08,  load average: 0.41, 0.33, 0.29, 11301.43"
                    }
                ],
                "_links": {
                    "current_page": 1,
                    "total_pages": 1,
                    "next_page": null,
                    "total_entries": 8
                }
            }

## Box [/api/v1/boxes/{id}]

The box object contains a lot of information relating to both the box and the local networks. Assuming the box is online, you will see a nested object called iwinfo which contains the interface stats, including signal strength and SSID.

For more detailed iwinfo / wireless stats, please use the Interfaces API.

Some of the information will seem irrelevant however we have included all fields required to fully troubleshoot and diagnose. For example, gubbins_version relates to the software version you're currently using.

There's some helpers included too which may help you build a beautiful portal. We've included a humanised device_icon field, status colour and a few more goodies.

+ Parameters

    + id (required, string, `a-long-slug`) ... Slug `slug` of the box to perform action with. Has example value.

### Display a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

    + Body

            {
                "slug": "YZJ6exYhemVwrOfigb-x1w",
                "created_at": 1404910675,
                "device_icon": "ubiquiti-unifi-ap-pro-icon.png",
                "uptime": " 11:34:04 up 12:57,  load average: 0.13, 0.11, 0.14, 46648.23",
                "location_id": 590,
                "gmaps_zoom": 17,
                "last_heartbeat": 1425209644,
                "description": "Polkaspots Office BOX 2",
                "calledstationid": "xx-xx-3C-02-37-67",
                "wan_ip": "10.0.1.250",
                "wan_proto": "dhcp",
                "public_ip": "33.33.199.193",
                "dns_hostname": "33-33-199-193.static.ps.net",
                "state": "online",
                "installer_id": 4,
                "serial_number": "5664-8359-6940-8594",
                "system_type": "Atheros AR9344",
                "machine_type": "Ubiquiti UniFi AP Pro",
                "access_token": "cfe433b0-315c-41e1-972e-73d9652aa6eb",
                "latitude": "51.5221223564181",
                "longitude": "-0.104187726974487",
                "wan_ipaddr": null,
                "wan_netmask": "255.255.255.0",
                "wan_gateway": null,
                "wan_dns_1": "8.8.8.8",
                "wan_dns_2": "8.8.4.4",
                "channel": "auto",
                "channel_5": "auto",
                "tx_power_2": "20",
                "tx_power_5": "20",
                "ht_mode_2": "HT20",
                "ht_mode_5": "HT20",
                "updated_at": 1425209654,
                "development_mode": "Beta",
                "is_monitored": true,
                "pppoe_username": null,
                "pppoe_password": null,
                "radiusnasid": "XXX-eb38-48ed-99d3-6c3e6e",
                "last_disconnect_reason": "power",
                "firmware_version": "B_140812_00",
                "next_firmware": null,
                "upgrade_scheduled": null,
                "upgrade_processing": false,
                "dual_band": true,
                "iwinfo": [
                    {
                        "ssid": "Office-PBP",
                        "interface": "wlan0",
                        "noise": -95,
                        "channel": 36
                    },
                    {
                        "ssid": "Will Young and Rod Stewart",
                        "interface": "wlan0-1",
                        "noise": -95,
                        "channel": 36
                    },
                    {
                        "ssid": "Office-PBP",
                        "interface": "wlan1",
                        "noise": -95,
                        "channel": 11
                    },
                    {
                        "ssid": "Will Young and Rod Stewart",
                        "interface": "wlan1-1",
                        "noise": -95,
                        "channel": 11
                    }
                ],
                "avg_speedtest": 1976458,
                "wan_mtu": 1492,
                "speedtest_running": false,
                "status_colour": "#64AB35",
                "upgrading": false,
                "can_reboot": true,
                "latest_speedtest": {
                    "result": 1365,
                    "timestamp": 1425182795
                },
                "is_online": true,
                "is_polkaspots": true,
                "clients_online": "0",
                "timezone": "London",
                "auto_upgrades": false,
                "sockets_hash": "YZJ6eYhemVwrOfigb-x1w",
                "band_steering": true,
                "radius_secret": "secret-passy",
                "sync_id": "0e38ccc6e2b73cc65f14fa3d053385282639",
                "certs": true,
                "gubbins_version": "1.3.5"
            }

### Delete a box [DELETE]

+ Parameters

    + id (required, integer, `1`) ... ID of the box you wish to delete.

+ Request (application/json)

        {   "id": 'JCyK7Zwh0ON_ZOWso8Mhuw'  }

+ Response 204 (application/json)


## Box Create [/api/v1/boxes{?calledstationid,description,location_id,discovery}]

### Create a Box [POST]

Don't forget, you must send the location_id with your request IN the box params. The following params are available:

If you are using the magic auto-discovery tool, please use the detect API end point before creating a box. Passing the parameter discovery=true will automatically add your discovered devices. If you're using this method, you do not need to send the calledstationid etc.
+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + calledstationid (required, string, `mac`) ... Mac address of the box.
    + description (required, text, `Upstairs, in the loft`) ... A description of the box.
    + discovery (optional, boolean, `true`) ... Send this parameter in to override the above options and automatically add discovered boxes.

+ Request (application/json)

        { 
            "box":
                {
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }
        }
        

+ Response 200 (application/json)

                {
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "created_at": "March 29 2014 10:54:59",
                    "device_icon": "ubiquiti-airrouter-icon.png",
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }


## Update a box [/api/v1/boxes/{id}{?params}]

### Update a box [PATCH]

If you update any fields related to the network settings, you will reboot your boxes. These include:

- WAN_IP
- WAN_GATEWAY
- WAN_DNS_1
- WAN_DNS_2
- WAN_NETMASH
- BAND_STEERING
- CHANNEL_2
- CHANNEL_5
- PPOE_USERNAME

For a full list of available params, please see the box#show section above. Some fields are read-only and will be ignored. These might include things like the last_heartbeat.

+ Parameters

    + id (required, integer, `1`) ... ID of the blacklisted device you wish to update.
    + params (required, object, `1`) ... Any information about the box. A full list of params can be seen above.

+ Request (application/json)

        { 
            "box":
                {
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }
        }

+ Response 200 (application/json)

                {
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "created_at": "March 29 2014 10:54:59",
                    "device_icon": "ubiquiti-airrouter-icon.png",
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }

## Reboot a box [/api/v1/boxes/{id}/reboot]

### Reboot a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to reboot" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Reset a box [/api/v1/boxes/{id}/reset{?soft}]

Restores things to factory defaults.

Sending the parameter 'soft', will perform a soft reset of the box. This doesn't reset any certificates etc, it just resets the basic attributes.

### Reset a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.
    + soft (optional, string, `true`) ... Soft reset the box by sending the soft=true parameter.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to reset" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Resync a box [/api/v1/boxes/{id}/resync]

This will cause a full configuration sync of the box sending the networks and wireless configuration files. This will restart all services and can disconnect users.

### Resync a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to resync" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Transfer a box [/api/v1/boxes/{id}/transfer{?transfer_to}]

Creates a transfer to move a box to a different location. Please note, this cannot be reversed, if you enter the incorrect location_id to transfer to, you may lose the box forever :(

This does not happen immediately and will be queued for transfer. This might take a few seconds to complete.

Please note, this will also reset your box to reflect the settings of the new location.

### Transfer a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.
    + transfer_to (required, string, `759275635389093876`) ... The Unique ID of the location you want to transfer the device to.

+ Request (application/json)

        { 
            "id": "JCyK7Zwh0ON_ZOWso8Mhuw",
            "transfer_to": "759275635389093876",
        }

+ Response 200 (application/json)

        { slug: "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Detect new boxes [/api/v1/boxes/detect{?location_id}]

Cucumber can automatically detect boxes with Stinky Panda installed. Once you have detected a box, you can then automatically add the selected once to your location.

The API will also return an array of boxes which have already been added. This is useful in case a previously detected box was added to your locations.

Please note, you must be close to the boxes you want to detect and on the same network. If you want add a box to another location, you must use the standard box create API.

Once you have detected your boxes, you will start receiving emails whenever a new box is connected in that location. 

Read the box#create section of this documentation to discover how to add boxes.

### Detect boxes [POST]

+ Parameters

    + location_id (required, string, `759275635389093876`) ... The slug / ID of the location you want to detect and add boxes to.

+ Request (application/json)

        { 
            "location_id": "bobs-house"
        }

+ Response 200 (application/json)

        [
            {
                "type": "Ubiquiti AirRouter",
                "mac": "DC-9F-DB-3D-AA-43",
                "existing": true
            },
            {
                "type": "Ubiquiti Unifi",
                "mac": "DD-ED-1D-AA-EE-AA",
                "existing": false
            }
        ]
        
+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Box alerts [/api/v1/boxes/{box_id}/alerts{?alerts}]

You can selectively enable and disable alerts for a box which will prevent CT from sending you emails when an event occurs. Events include reboots, upgrades, resync and status alerts.

### Enable / Disable alerts for a box [PATCH]

+ Parameters

    + box_id (required, string, `"JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.
    + alerts (required, boolean, `"true`) ... True or false depending on whether you want alerts on or off.

+ Request (application/json)
    
        { "box_id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        {
            "is_monitored": true,
            "slug": "JCyK7Zwh0ON_ZOWso8Mhuw"
        }

+ Response 422 (application/json)

        { status: "unprocessable_entity" }

## Box Heartbeats [/api/v1/boxes/{id}/heartbeats{?interval,distance}]

Returns a list of heartbeats for the box by minute. Please note, this end-point returns a lot of data and can sometimes be a little slow. Results are therefore cached and update every 10 minutes.

You can adjust the interval and distance too. The distance must be numeric and the interval can be one of the following:

minute, hour, day, week, month, year.

A value of 0 represents offline and a value of 1 represents an online box.

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.
    + interval (optional, string, `hour`) ... Filter the results by interval, see above for full details.
    + distance (optional, integer, `7`) ... How far back you want to get the results for.

### List all heartbeats for a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)


    + Body
    
            {
                "heartbeats": {
                    "1425210780": 1,
                    "1425210720": 1,
                    "1425210660": 0,
                    "1425210600": 1,
                    "1425210540": 1,
                    "1425210480": 1,
                    "1425210420": 1,
                    "1425210360": 1,
                    "1425210300": 0,
                    "1425210240": 1,
                    "1425193440": 1,
                    "1425193380": 1,
                    "1425193320": 0,
                    "1425186840": 1,
                    "1425186780": 1,
                    "1425186720": 1
                }
            }

## Box History [/api/v1/boxes/{id}/versions]

Returns the changeset for a box including the username of the person who made the change and details of what happened.

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.

### List all versions for a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)


    + Body
    
            [
                {
                    "id": 102754,
                    "event": "update",
                    "whodunnit": null,
                    "changeset": {
                        "location_id": [
                            119,
                            2586
                        ]
                    },
                    "created_at": 1424212334
                },
                {
                    "id": 102738,
                    "event": "update",
                    "whodunnit": null,
                    "changeset": {
                        "address": [
                            null,
                            "62 Britton Street, London"
                        ],
                        "description": [
                            null,
                            "Box's House 2"
                        ]
                    },
                    "created_at": 1424207213
                }
            ]

## Box Payloads [/api/v1/boxes/{id}/payloads]

Returns the payloads that have recently run on the box. You can set up a payload to run using the payloads api. Payloads can include linux commands, status requests etc. 

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.

### List all payloads for a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "created_at": 1424207333,
                    "body": "Some body of the payload here, truncated.",
                    "type": "dmesg",
                    "id": 2324,
            
                }
            ]

# Group Commands

Commands reference the **Commands API**. 

Commands are predefined templates of payloads which can be applied directly to a box. There's two types of events:

1. Available to schedule
2. PolkaSpots only

PolkaSpots only commands should not be run on non-ps boxes. For example, you cannot schedule a Xirrus to reboot using the paylods API.

However, you may disable the Xirrus login screens. PolkaSpots only commands are suitable for boxes running the Stinky Panda firmware only.

Only PolkaSpots staff are able to create, modify and delete commands at the moment.

You will run a command on a box using the payloads API.

Commands are just templates. Payloads are the way to run them.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

##Allowed HTTPs requests for non-customers:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `DELETE` - Delete a resource

## Commands Collection [/api/v1/commands]

### List all Commands [GET]

+ Response 200 (application/json)

    + Body
                
            [
                {
                    "id": 34,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Reboot my access point ",
                    "payload_name": "Reboot Access Points",
                    "payload_command": "/sbin/reboot",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 35,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable My Login Screens",
                    "payload_name": "Disable Login Screens",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": false
                },
                {
                    "id": 36,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable My Login Screens",
                    "payload_name": "Enable Login Screens",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": false
                },
                {
                    "id": 37,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable my private Wi-Fi network completely",
                    "payload_name": "Disable Private Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 38,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable my private Wi-Fi network",
                    "payload_name": "Enable Private Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 39,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Hide my public Wi-Fi network",
                    "payload_name": "Hide Public Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 40,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Show my public Wi-Fi network",
                    "payload_name": "Show Public Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 41,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable all Wi-Fi networks",
                    "payload_name": "Wi-Fi Down Completely",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 42,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable all Wi-Fi networks",
                    "payload_name": "Wi-Fi Up Completely",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                }
            ]
            
## Commands Create [/api/v1/commands{?command}]

### Create a command [POST]

+ Request 200 (application/json)

            {
                "command": 
                    {
                        "payload_description": "Reboot my access point ",
                        "payload_name": "Reboot Access Points",
                        "payload_command": "/sbin/reboot",
                        "can_schedule": true,
                        "only_polkaspots": true
                    }
            }


+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": true,
                "only_polkaspots": true
            }
        

## Command Details [/api/v1/commands/:id]

### Update a Command [GET]


+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.

+ Request (application/json)

        {"id": 34}

+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        
## Command Update [/api/v1/commands/:id{?command}]

### Update a Command [PATCH]

+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.
    + command (required, params, `{some: params, included: here}`) ... An object with the parameters you want to update.

+ Request (application/json)

        {
            "command": {
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        }

+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        

## Command Delete [/api/v1/commands/{id}]

### Delete a Command [DELETE]

+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.

+ Request (application/json)

        {   
            "id": 123,
        }

+ Response 204 (application/json)

# Group Clients

Clients related resources of the **Clients API**. Clients are devices that have connected to your wireless networks. They can be on any SSID, using the captive portal or not.

Clients, when nested in the box or location resources. When using the box resource, the list shows connected and disconnected clients for box. You can therefore get an overview of your clients and drill down per box. Clients are updated every minute and will include details on the client device and also data rates.

If you require, you can also pass a Box mac address or addresses with the request to filter by box.

There is also a signal warning boolean field which you can use to diagnose client problems. An SNR lower than 15 is considered problematic.

You may also send the standard filter parameters we use:

- Interval
- Distance
- Start
- End
- AP Mac

These filter parameters allow you to view clients over a pre-set period. 

For clients which are currently connected via the captive portal, you can also disconnect them using the same API. Details are found below.

**The clients API is only available for boxes which use the PolkaSpots Firmware.**

## List Location Clients [/api/v1/locations/{location_id}/clients{?distance,interval,ap_mac}]

List all clients that have visited you location. Includes the currently connected clients.

### List all connected clients [GET]

+ Parameters

    + location_id (required, string, `le-gaff-wifi`) ... Slug `slug` of the Location to perform action with. Has example value.
    + distance (required, integer, `30`) ... The distance with which you want to filter your results.
    + interval (required, string, `hour`) ... Filter interval - group your results in convenient categories.
    + ap_mac (required, string, `11:22:33:44:55:66`) ... Filter your results by mac of your boxes.

+ Response 200 (application/json)

    + Body

            {
                "info": {
                    "location_id": 2586,
                    "connected": 1,
                    "children": 2,
                    "last_updated": 1424995575
                },
                "clients": [
                    {
                        "id": "54eced7261695540ea0000",
                        "online": false,
                        "ip": "",
                        "snr_alert": false,
                        "ap_mac": "xx-xx-3C-02-37-26",
                        "authenticated": true,
                        "authorized": true,
                        "client_mac": "xx-xx-BD-9B-A3-45",
                        "created_at": 1424786669,
                        "updated_at": 1424788881,
                        "device_name": "",
                        "name": null,
                        "manufacturer": "HTC Corporation",
                        "snr": 67,
                        "ssid": "AND-PU",
                        "ssids": [
                            "AND-PU"
                        ],
                        "firstseen": 1424786645,
                        "lastseen": 1424788805,
                        "txbytes": 829660,
                        "rxbytes": 923485,
                        "slug": "7gsv8dtiebgf08dcsy-sbw",
                        "description": "Le Gaff 9",
                        "splash_connected": false,
                        "splash_status": "dnat",
                        "splash_session": "54ec84ad00000001",
                        "splash_username": null,
                        "splash_usernames": null,
                        "splash_in": 0,
                        "splash_out": 0
                    },
                    {
                        "id": "54efxx340726169119b4c0400",
                        "online": true,
                        "ip": "192.168.210.45",
                        "snr_alert": true,
                        "ap_mac": "xx-xx-3C-02-37-26",
                        "authenticated": true,
                        "authorized": true,
                        "client_mac": "xx-xx-40-59-D4-C5",
                        "created_at": 1424945984,
                        "updated_at": 1424995575,
                        "device_name": "iPhone",
                        "name": null,
                        "manufacturer": "Apple",
                        "snr": 11,
                        "ssid": "AND-PR",
                        "ssids": [
                            "AND-PR"
                        ],
                        "firstseen": 1424945946,
                        "lastseen": 1424972345,
                        "txbytes": 582678185,
                        "rxbytes": 531322605,
                        "slug": "7gsvdtiebgf08dcsy-sbw",
                        "description": "Le Gaff 9",
                        "splash_connected": false,
                        "splash_status": null,
                        "splash_session": null,
                        "splash_username": null,
                        "splash_usernames": null,
                        "splash_in": 0,
                        "splash_out": 0
                    }
                ],
                "unique_aps": [
                    {
                        "ap_mac": "xx-A4-3C-02-37-26",
                        "description": "Le Gaff 9 "
                    }
                ]
            }

## Client Object [/api/v1/locations/{location_id}/clients/{id}]

View and manage individual clients. You can currently only update the name and notes.

Any data transmission rates are in bytes.

### Viewing a specific client [GET]

+ Parameters

    + location_id (required, string, `le-gaff-wifi`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, string, `id-123`) ... Id of the client you want to view. Has example value.

+ Response 200 (application/json)

    + Body

            {
                "id": "54eef340726169119b4c0400",
                "online": true,
                "ap_mac": "xx-A4-3C-02-37-xx",
                "ip": "192.168.210.45",
                "authenticated": true,
                "authorized": true,
                "capabilities": "5Ghz",
                "channel": 36,
                "client_mac": "xx-xx-40-59-D4-xx",
                "ap_description": "Le Gaff 9",
                "slug": "7xx8dtiebgf08dcsy-sbw",
                "device_name": "iPhone",
                "notes": null,
                "labels": "red",
                "name": null,
                "firstseen": 1424945946,
                "lastseen": 1424972345,
                "inactivetime": "229220ms",
                "interface": "wlan0-1",
                "location_id": 2586,
                "manufacturer": "Apple",
                "noise": -95,
                "signal": "-84",
                "signalavg": "-83",
                "snr": 11,
                "snr_alert": true,
                "splash_connected": false,
                "splash_status": null,
                "splash_username": null,
                "splash_usernames": null,
                "splash_session": null,
                "splash_in": 0,
                "splash_out": 0,
                "ssid": "AND-PR",
                "ssids": [
                    "AND-PR"
                ],
                "txbps": 96,
                "txbitrate": "7.2MBit/s",
                "rxbitrate": "24.0MBit/s",
                "txbytes": 582678185,
                "rxbytes": 531322605,
                "txbytes_session": 27452,
                "rxbytes_session": 29336,
                "txfailed": 1152,
                "txpackets": 1170831,
                "rxpackets": 2200936,
                "updated_at": 1424995575
            }

### Updating a specific client [PATCH]

+ Parameters

    + location_id (required, string, `le-gaff-wifi`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, string, `id-123`) ... Id of the client you want to view. Has example value.

+ Request (application/json)

        {   
            "id": 54eef340726169119b4c0400,
            client: {
                name: 'Simon',
                notes: 'Is here a lot these days'
            
            }
        }

+ Response 200 (application/json)
        
        client: {

        }

## Disconnect a Client [/api/v1/locations/{location_id}/clients/{id}/logout]

This will immediately disconnect the user from the hotspot, assuming they are actually logged in. You can also disconnect the client using the boxes resource. 

### Disconnect a specific client [POST]

+ Parameters

    + location_id (required, string, `le-gaff-wifi`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, string, `id-123`) ... Id of the client you want to view. Has example value.

+ Response 200 (application/json)

    + Body
    
            { 
                message: 'Client has been disconnected'
            }

## List Box Clients [/api/v1/boxes/{box_id}/clients]

List all clients on a specific box. Uses similar format to the location resource but restricts the results to an individual box.

### List all connected clients [GET]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.

+ Response 200 (application/json)

    + Body

            {
                "info": {
                    "location_id": 2586,
                    "connected": 1,
                    "children": 2,
                    "last_updated": 1424995575
                },
                "clients": [
                    {
                        "id": "54ec84e261695540ea0000",
                        "online": false,
                        "ip": "",
                        "snr_alert": false,
                        "ap_mac": "xx-A4-3C-02-37-xx",
                        "authenticated": true,
                        "authorized": true,
                        "client_mac": "xx-EE-BD-9B-A3-xx",
                        "created_at": 1424786669,
                        "updated_at": 1424788881,
                        "device_name": "",
                        "name": null,
                        "manufacturer": "HTC Corporation",
                        "snr": 67,
                        "ssid": "AND-PU",
                        "ssids": [
                            "AND-PU"
                        ],
                        "firstseen": 1424786645,
                        "lastseen": 1424788805,
                        "txbytes": 829660,
                        "rxbytes": 923485,
                        "slug": "7gsv8dtigf08dcsy-sbw",
                        "description": "Le Gaff 9",
                        "splash_connected": false,
                        "splash_status": "dnat",
                        "splash_session": "54ec84ad00000001",
                        "splash_username": null,
                        "splash_usernames": null,
                        "splash_in": 0,
                        "splash_out": 0
                    },
                    {
                        "id": "54eef3726169119b4c0400",
                        "online": true,
                        "ip": "192.168.210.45",
                        "snr_alert": true,
                        "ap_mac": "xx-A4-3C-02-37-xx",
                        "authenticated": true,
                        "authorized": true,
                        "client_mac": "xx-72-40-59-D4-xx",
                        "created_at": 1424945984,
                        "updated_at": 1424995575,
                        "device_name": "iPhone",
                        "name": null,
                        "manufacturer": "Apple",
                        "snr": 11,
                        "ssid": "AND-PR",
                        "ssids": [
                            "AND-PR"
                        ],
                        "firstseen": 1424945946,
                        "lastseen": 1424972345,
                        "txbytes": 582678185,
                        "rxbytes": 531322605,
                        "slug": "7gsv8dtiebgf08dcsy-sbw",
                        "description": "Le Gaff 9",
                        "splash_connected": false,
                        "splash_status": null,
                        "splash_session": null,
                        "splash_username": null,
                        "splash_usernames": null,
                        "splash_in": 0,
                        "splash_out": 0
                    }
                ],
                "unique_aps": [
                    {
                        "ap_mac": "xx-A4-3C-02-37-xx",
                        "description": "Le Gaff 9 "
                    }
                ]
            }

# Group Events

Events related resources of the **Events API**. Events run at predefined intervals on your location's boxes.

You can, for example, disable the login screens at lunch or reboot your access point in the evening.

All events run on PolkaSpots boxes (running Stinky Panda). Third party boxes may only receive a selection of events.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Events Collection [/api/v1/locations/{location_id}/events]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Events for a location [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body
    
            [
                {
                    "id": 115,
                    "location_id": 870,
                    "event_hour": "09:00",
                    "event_frequency": "Daily",
                    "payload_id": 34,
                    "description": "Reboot my access point ",
                    "unique_id": "6717550402069326522",
                    "slug": null,
                    "command_hash": null,
                    "experimental": false,
                    "premium": false,
                    "active": true,
                    "created_at": "2014-09-17T18:48:23.000+01:00",
                    "updated_at": "2014-09-17T18:48:23.000+01:00"
                }
            ]

## Create an Event [/api/v1/locations/{location_id}/events{?event}]

### Create an Event [POST]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + event (required, params, `polkaspots.com`) ... parameters required for the creation of the event.

+ Request (application/json)

            {
                "event_hour": "09:00",
                "event_frequency": "Daily",
                "payload_id": 34,
                "description": "Reboot my access point ",
            }

+ Response 200 (application/json)

            {
                "id": 115,
                "location_id": 870,
                "event_hour": "09:00",
                "event_frequency": "Daily",
                "payload_id": 34,
                "description": "Reboot my access point ",
                "unique_id": "6717550402069326522",
                "slug": null,
                "command_hash": null,
                "experimental": false,
                "premium": false,
                "active": true,
                "created_at": "2014-09-17T18:48:23.000+01:00",
                "updated_at": "2014-09-17T18:48:23.000+01:00"
            }

## Delete Event [/api/v1/locations/{location_id}/events/{id}]

### Delete an Event [DELETE]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the event you wish to delete.

+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 123,
        }

+ Response 204 (application/json)

# Group Firewall

Firewall Rules related resources of the **Firewall Rules API**. Firewalls are a nested in a location. You cannot currently list all your walled gardens without specifying a location id (slug).

Not all the parameters listed in this spec are supported yet.

##Allowed HTTPs requests:

    - `POST` - Creates or updates a resource
    - `PATCH` - Updates a resource
    - `GET` - Retrieves a resource or list of resources
    - `DELETE` - Delete a resource

## Firewall Rules Collection [/api/v1/locations/{location_id}/firewall_rules]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Firewall Rules [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body
    
            [
                {
                    "id": 4145,
                    "chain": "FORWARD",
                    "rule_spec": "A",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "February 15 2014 19:27:05",
                    "updated_at": "February 15 2014 19:27:05"
                },
                {
                    "id": 4146,
                    "chain": "FORWARD",
                    "rule_spec": "A",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "February 15 2014 19:27:05",
                    "updated_at": "February 15 2014 19:27:05"
                },
                {
                    "id": 5848,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "September 16 2014 17:53:15",
                    "updated_at": "September 16 2014 17:53:15"
                },
                {
                    "id": 5849,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "September 16 2014 17:53:15",
                    "updated_at": "September 16 2014 17:53:15"
                },
                {
                    "id": 5850,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "September 16 2014 17:53:49",
                    "updated_at": "September 16 2014 17:53:49"
                },
                {
                    "id": 5851,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "September 16 2014 17:53:49",
                    "updated_at": "September 16 2014 17:53:49"
                }
            ]

## Firewall Rule Create [/api/v1/locations/{location_id}/firewall_rules{?firewall_rule}]

### Create a Firewall Rule [POST]

There's two ways to create a firewall rule. You can either post directly with a location id or you update the resource when updating a location. Please see the section within the location's group for more information. 

**CAUSES SYNC**

Please note, creating a new firewall rule will force all your boxes to reload their networks. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + firewall_rule (required, object) ... A list of parameters you want to use to create the firewall rule.

+ Request (application/json)

        { "firewall_rule": 
            {
                "chain": "FORWARD",
                "rule_spec": "I",
                "protocol": null,
                "source_ip": "192.168.1.4/24",
                "source_port": null,
                "source_interface": null,
                "out_interface": null,
                "dest_ip": null,
                "dest_port": null,
                "target": "DROP",
                "limit": null,
                "c_state": null,
                "log_level": null
            }
        }
        

+ Response 200 (application/json)

        {
            "id": 594,
            "chain": "FORWARD",
            "rule_spec": "I",
            "protocol": null,
            "source_ip": "192.168.1.4/24",
            "source_port": null,
            "source_interface": null,
            "out_interface": null,
            "dest_ip": null,
            "dest_port": null,
            "target": "DROP",
            "limit": null,
            "c_state": null,
            "log_level": null,
            "location_id": 2213,
            "position": null,
            "created_at": "2014-09-17T02:10:34.708+01:00",
            "updated_at": "2014-09-17T02:10:34.708+01:00"
        }

## Firewall Rule Update [/api/v1/locations/{location_id}/firewall_rules/{id}?firewall_rule={?params}]

### Update a Firewall Rule [PATCH]

You can also update a firewall rule url by using the location's update method.

**CAUSES SYNC**

Please note, updating a firewall rule will force all your boxes to reload their networks. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the walled garden you wish to update.
    + params (required, string, `params hash`) ... A list of parameters you wish to update.

+ Request (application/json)

        { "firewall_rule": 
            {
                "id": "594",
                "chain": "FORWARD",
                "rule_spec": "I",
                "protocol": null,
                "source_ip": "192.168.0.4/24",
                "source_port": null,
                "source_interface": null,
                "out_interface": null,
                "dest_ip": null,
                "dest_port": null,
                "target": "DROP",
                "limit": null,
                "c_state": null,
                "log_level": null
            }
        }

+ Response 200 (application/json)

        {
            "id": 594,
            "chain": "FORWARD",
            "rule_spec": "I",
            "protocol": null,
            "source_ip": "192.168.0.4/24",
            "source_port": null,
            "source_interface": null,
            "out_interface": null,
            "dest_ip": null,
            "dest_port": null,
            "target": "DROP",
            "limit": null,
            "c_state": null,
            "log_level": null,
            "location_id": 2213,
            "position": null,
            "created_at": "2014-09-17T02:10:34.708+01:00",
            "updated_at": "2014-09-17T02:10:34.708+01:00"
        }

## Firewall Rule Delete [/api/v1/locations/{location_id}/firewall_rules/{id}]

### Delete a Walled Garden [DELETE]

**CAUSES SYNC**

Please note, creating a new walled garden will force all your boxes to reload their group network. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the firewall rule you wish to update.

+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 123,
        }

+ Response 204 (application/json)

# Group Invites

Invites related resources of the **Invites API**

This facilitates the addition and removal of admin users. Admin users are able to alter location settings, view reports etc.

## Invites Collection [/api/v1/invites]

You can retrieve a list of all your invites, including the state of the invitation.

When you invite a new user to CT, they will receive an email confirmation and are required to create a new account. Invitations will expire in three days for security reasons.

After they have accepted the invitation, they will be automatically added to locations you invited them to.

You may invite users to all your locations or a single location.

### List all invites [GET]

+ Request (application/json)

    + Header

            Accept: application/json

+ Response 200 (application/json)

    + Body
          
            [
                {
                    "parent_id": null,
                    "email": "bob@marley.com",
                    "created_at": 1425215591,
                    "expires": 1425474791,
                    "state": "pending",
                    "location_ids": [
                        "46",
                        "53",
                        "119",
                        "1778",
                        "1806",
                        "1813",
                        "1816"
                    ],
                    "name": "Bob Marley",
                    "id": "54f310674c697a9f2e010000"
                }
            ]

## Viewing Invites [/api/v1/invites/{id}]

You can view a full invitation include the location details using the following end-point. 

### View an invite [GET]

+ Parameters

    + id (required, string, `123`) ... ID of the invite you want to view. Has example value.

+ Response 200 (application/json)

    + Body
    
            {
                "invite": {
                    "email": "bob@marley.com",
                    "name": "Bob Marley",
                    "state": "pending",
                    "timestamp": 1425215591,
                    "expires": 1425474791
                },
                "locations": [
                    {
                        "location_name": "Long Buckby Railway Station (LBK)",
                        "slug": "long-buckby-railway-station-lbk"
                    },
                    {
                        "location_name": "The Jerusalem Tavern",
                        "slug": "the-jerusalem-tavern-109d6397-24e9-493e-9645-36d24def92db"
                    },
                    {
                        "location_name": "Simon",
                        "slug": "simon-53dbb7bd-eac7-4860-8dfb-9490d4433ecc"
                    },
                    {
                        "location_name": "Stuff got real",
                        "slug": "stuff-got-real-four-1c94fe7e-6823-46c4-8425-160c63c00aea"
                    }
                ]
            }


## Managing Invites [/api/v1/invites/{email,location_ids}]

### Create an invitation [POST]

This is how you invite a user to administer a location or locations. If you do not pass any location_ids, we will assume you want to invite them to all your locations. 

The location id is the numeric id of the location you want to invite them to. Please use the Location API to obtain these.

You must wrap the request in the invite object.

Please also note that invitations are not available on all plans. Unaccepted invites are deleted automatically after three days and must be resent.

+ Parameters

    + email (required, string, `bob@marley.com`) ... Email of the person you want to invite..
    + location_ids (optional, string, `1,2,3`) ... The numeric ids of the locations you want to invite the user to manage.

+ Request (application/json)

        "invite":
            
            {
                email: 'email-of-person@gmail.com',
                location_ids: '1,2,3,4'
            }    
    
+ Response 200 (application/json)

    + Body

            {
                "parent_id": null,
                "email": "bob@marley.com",
                "created_at": 1425215591,
                "expires": 1425474791,
                "state": "pending",
                "location_ids": [
                    "46",
                    "53",
                    "119",
                    "1778",
                    "1806",
                    "1813",
                    "1816"
                ],
                "name": "Bob Marley",
                "id": "54f310674c697a9f2e010000"
            }

### Revoke an invitation [DELETE]

+ Request (application/json)

        "invite":

            {
                email: 'email-of-person@gmail.com',
                location_ids: '1,2,3,4'
            }    

+ Response 200 (application/json)

    + Body

            {
                "parent_id": null,
                "email": "bob@marley.com",
                "created_at": 1425215591,
                "expires": 1425474791,
                "state": "pending",
                "location_ids": [
                    "46",
                    "53",
                    "119",
                    "1778",
                    "1806",
                    "1813",
                    "1816"
                ],
                "name": "Bob Marley",
                "id": "54f310674c697a9f2e010000"
            }


# Group Invoices

The main device invoices API which displays your service invoices.

Using this API, you can request copies of your invoices to be sent to your billing contacts. Handy.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources
- `POST` - Emails one or more invoices to your billing contacts.

## Invoices Collection [/api/v1/invoices]

### List Invoices [GET]

+ Response 200 (application/json)

    + Body

## Display an invoice [/api/v1/invoices/{id}]

### Display Invoices [GET]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID of the invoice you want to retreive.

+ Response 200 (application/json)

    + Body

## Email your invoices [/api/v1/invoices/email?{ids}]

You can ask CT to send an invoice or invoices to your billing contacts. Billing contacts are part of the users API, see below for more information.

### Emails Invoices [POST]

+ Parameters

    + ids (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Comma separated list of emails to send via email.

+ Response 200 (application/json)

    + Body

# Group Locations

Locations related resources of the **Locations API**

Please see the location object for a list of parameters you can update. Some are obviously read only.

## Locations Collection [/api/v1/locations]

### List all Locations [GET]

+ Request (application/json)

    + Header

            Accept: application/json

+ Response 200 (application/json)

        [{
            "id": 1687,
            "location_name": "Cafe International",
            "slug": "cafe-international-f84e1979-52e4-49ff-8d6e-ed808578b36a",
            "created_at": "May 6 2014 11:47:08",
            "network_name": "PolkaSpots",
            "location_address": "12 High Lane",
            "street": "12 High Lane",
            "phone1": "02071831471",
            "location_website": null,
            "location_type": null,
            "nas_count": 1,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        },
        {
            "id": 870,
            "location_name": "Derby - City Council",
            "slug": "derby-city-council",
            "created_at": "August 19 2013 11:50:04",
            "network_name": "Meraki",
            "location_address": "Corporation Street Derby ",
            "street": "",
            "phone1": "01332293111",
            "location_website": "www.surfthecity.co.uk",
            "location_type": "186",
            "nas_count": 5,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        }]

## Locations Search [/api/v1/locations?q={search}]

### Search for locations [GET]

+ Parameters

    + q (required, string, `Some Search Text`) ... What are you looking for?

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            { "q": "derby" }

+ Response 200 (application/json)

        [{
            "id": 870,
            "location_name": "Derby - City Council",
            "slug": "derby-city-council",
            "created_at": "August 19 2013 11:50:04",
            "network_name": "Meraki",
            "location_address": "Corporation Street Derby ",
            "street": "",
            "phone1": "01332293111",
            "location_website": "www.surfthecity.co.uk",
            "location_type": "186",
            "nas_count": 5,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        }]

## Locations Short List [/api/v1/locations?short=yep{?q}]

Returns a mini-list of your locations. Is good for search, cloning the logins, stuff where you don't need much info.

### A consolidated list of locations [GET]

+ Parameters

    + q (optional, string, `Some Search Text`) ... What are you looking for?

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body

            { "short": "yep" }

+ Response 200 (application/json)

    + Body
    
            [
                {
                    "id": 2614,
                    "location_name": "Ski Center",
                    "slug": "ski-center-8b71-407b-aeb0-fe875bbd3763",
                    "network_name": "PolkaSpots",
                    "location_address": null,
                    "street": null,
                    "phone1": null,
                    "location_website": null,
                    "location_type": null,
                    "archived": false,
                    "development_mode": "Production",
                    "daily_limit": true,
                    "created_at": 1425115597,
                    "updated_at": 1425115597,
                    "user_id": 3363,
                    "lat": 52.0406,
                    "lng": -0.759417,
                    "summary": {
                        "boxes_alerting": false,
                        "boxes_count": 0,
                        "total_sessions": "0",
                        "total_downloads": 0,
                        "connected_clients": 0,
                        "plan": "Little Tony"
                    }
                },
                {
                    "id": 2613,
                    "location_name": "Long Heights",
                    "slug": "long-heights-4b15f473-e99f-4c18-9639-6106e4b3fd2b",
                    "network_name": "PolkaSpots",
                    "location_address": null,
                    "street": null,
                    "phone1": null,
                    "location_website": null,
                    "location_type": null,
                    "archived": false,
                    "development_mode": "Production",
                    "daily_limit": true,
                    "created_at": 1425049469,
                    "updated_at": 1425049809,
                    "user_id": 3362,
                    "lat": 51.7242,
                    "lng": -3.36022,
                    "summary": {
                        "boxes_alerting": false,
                        "boxes_count": 0,
                        "total_sessions": "0",
                        "total_downloads": 0,
                        "connected_clients": 0,
                        "plan": "Little Tony"
                    }
                }
            ]
            
            
## Create a location [/api/v1/locations{?location}]

Default required params include:

- location_name
- address
- town
- postcode

You may send an array of mac addresses to create boxes associated with the location. This must follow the following convention:

    { "boxes": { "ap_mac": ["00:22:22:11:22:33", "66:22:11:22:33:44"] }

You can also send a facebook_id with your request. Doing so will cause CT to totally ignore the data you've sent. Instead, Cucumber Tony will contact Facebook and grab the information from them instead.

    { "location": { "facebook_id": "valid-fb-id" } }
    
### Create a Location [POST]

+ Parameters

    + location (required, JSON object, `location_name: derby-city-council`) ... JSON object of all the parameters you wish to create your location with.

+ Request (application/json)

        "location":
            {
                "location_name": "Derby Council",
                "address": "1 Really Long Road",
                "town": "A far away land",
                "postcode": "EC1M",
                "phone1": '01604 134 1679',
                "facebook_id": "187263871623"
            },
        "boxes":
        
            { "ap_mac": ["AA:BB:CC:DD:EE:FF:11"] }

+ Response 200 (application/json)

        {
            "id": 1768,
            "slug": "derby-ff3b5382-baa5-4ecd-945a-526427e057a1",
            "created_at": "September24201419: 07: 09",
            "attr_generated": false,
            "location_address": "62 Britton Street",
            "location_name": "PolkaSpots"
        }

## Location [/location/{id}]

A single Location object with all its details. Includes information relating to the account owner and their plan for good measure.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Retrieve a Location [GET]

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "id": 2586,
                "discovering": false,
                "location_name": "Le Gaff",
                "unique_id": "xxxx",
                "slug": "le-gaff",
                "created_at": 1424212121,
                "updated_at": 1424942703,
                "location_address": "Dans Le Rue",
                "street": null,
                "postcode": "EC1M 5UY",
                "town": "London",
                "country": "United Kingdom",
                "website": null,
                "email_owner": null,
                "phone1": null,
                "location_website": null,
                "created_by": null,
                "location_notes": null,
                "networktype_id": 2,
                "api_token": "xxx-c4bb-4375-8acb-329569d85b86",
                "state": "active",
                "archived": false,
                "latitude": 25.5253,
                "longitude": -33.5597,
                "development_mode": "Production",
                "wisp_id": 6,
                "tagged_logins": false,
                "flume_enabled": false,
                "meraki_validator": null,
                "attr_generated": true,
                "total_sessions": "171",
                "plan_name": "Uncle Tony",
                "address_string": "Dans Le Rue",
                "full_address": "Dans Le Rue",
                "setup_fin": true,
                "logins_fin": false,
                "access_fin": false,
                "networks_fin": false,
                "has_nas": true,
                "user_id": 1,
                "primary_user": {
                    "role": "Customer",
                    "plan": {
                        "plan_name": "Uncle Tony",
                        "plan_description": "For hotels, offices and small franchises",
                        "location_count": 30,
                        "hotspot_count": 30,
                        "voucher_count": 5000,
                        "email_support": true,
                        "phone_support": false,
                        "billing_period": "monthly",
                        "daily_sessions": 1000,
                        "shop_allowed": false,
                        "enterprise_plan": false,
                        "max_location_users": 5,
                        "plan_price": "36.0",
                        "max_networks": 2,
                        "id": null
                    },
                    "user": {
                        "username": "Big Chief",
                        "email": "Bob@ps.com",
                        "slug": "bob-marley",
                        "id": 1,
                        "unique_id": "520552203",
                        "account_id": "A3F71F6"
                    }
                },
                "can_delete": false,
                "clone_processing": false,
                "beta_mode": false
            }
            
### Update a Location [PATCH]

Update your location settings and information.

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "id": 2586,
                "discovering": false,
                "location_name": "Le Gaff",
                "unique_id": "xxxx",
                "slug": "le-gaff",
                "created_at": 1424212121,
                "updated_at": 1424942703,
                "location_address": "Dans Le Rue",
                "street": null,
                "postcode": "EC1M 5UY",
                "town": "London",
                "country": "United Kingdom",
                "website": null,
                "email_owner": null,
                "phone1": null,
                "location_website": null,
                "created_by": null,
                "location_notes": null,
                "networktype_id": 2,
                "api_token": "xxx-c4bb-4375-8acb-329569d85b86",
                "state": "active",
                "archived": false,
                "latitude": 25.5253,
                "longitude": -33.5597,
                "development_mode": "Production",
                "wisp_id": 6,
                "tagged_logins": false,
                "flume_enabled": false,
                "meraki_validator": null,
                "attr_generated": true,
                "total_sessions": "171",
                "plan_name": "Uncle Tony",
                "address_string": "Dans Le Rue",
                "full_address": "Dans Le Rue",
                "setup_fin": true,
                "logins_fin": false,
                "access_fin": false,
                "networks_fin": false,
                "has_nas": true,
            }

### Remove a Location [DELETE]

You can remove a location as long as it doesn't have any session information associated with it. This is important in order to be compliant with the law if you're offering public access.

+ Parameters

    + id (required, string, `le-gaff`) ... Slug / ID of the location you want to delete.

+ Request (application/json)

        {   "id": 'le-gaff-123'  }

+ Response 204 (application/json)

## Location Statistics [/location/{id}/stats]

A single Location's statistical objects

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Retrieve a Location's Statistics [GET]

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "slug": "derby-city-council",
                "lat": null,
                "lon": null,
                "sessions": 0,
                "uniques": 0,
                "minutes_online": 0,
                "downloads": 0,
                "busiest_hr": null,
                "busiest_day": null,
                "total_sales": 0,
                "qnty_sales": 0,
                "range": "07/28/2014 - 09/08/2014",
                "chart_series": {
                    "Sessions": "[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
                    "Unique users": "[0,16,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"
                },
                "audience": [],
                "loyalty": {
                    "new": 0,
                    "returning": null
                },
                "geojson": [
                    {
                        "lat": null,
                        "lon": null,
                        "title": "Derby City Council 6",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council 6",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "28.15303332447874",
                        "lon": "-60.83188607793834",
                        "title": "Derby City Council",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "-24.1850770453765",
                        "lon": "-162.5053433148802",
                        "title": "Derby City Council",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "-39.74956573964626",
                        "lon": "176.4442398543561",
                        "title": "Derby Council 2",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby Council 2",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": null,
                        "lon": null,
                        "title": "Derby - City Council 6",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby - City Council 6",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    }
                ],
                "top_boxes": []
            }
                
## Get Location Users [/location/{id}/users]

Get a list of all the users who have access to your location. The output will include four keys - **owner, admins, invites**

- The owners object contains details of the primary user's plan.
- The admin users object contains all users will admin rights to the location.
- The invites object represents and invitations which have been sent recently.

If you want to add users to a location or locations, please use the Invites API.

+ Parameters
    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Get a list of location users [GET]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            { "id": "derby-city-council" }

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "location_name": "Derby City Centre",
                "unique_id": "432692681892998301233",
                "slug": "derby-city-council",
                "admin_users": {
                    "admins": [
                        {
                            "email": "bob@derby.gov.uk",
                            "username": "Bob Marley",
                            "unique_id": "29789523",
                            "slug": "bob-marley"
                        },
                        {
                            "email": "support@polkaspots.com",
                            "username": "Steve Jobs",
                            "unique_id": "82052203",
                            "slug": "steve-jobs"
                        }
                    ],
                    "owner": {
                        "username": "Barry White",
                        "slug": "barry-white",
                        "unique_id": "206923464",
                        "email": "barry@derby.gov.uk",
                        "plan_name": "Enterprise",
                        "max_location_users": 10
                    },
                    "invites": [
                        {
                            "token": "e7adddb4e68a6f250a57b3f7b1dd31e3",
                            "email": "user@polkaspots.com",
                            "created_at": "1410737982"
                        },
                        {
                            "token": "e924c0ae9ea4a462a55dbd7be6d0ee23",
                            "email": "user2@polkaspots.com",
                            "created_at": "1410737979"
                        },
                        {
                            "token": "a863527a40c694173d59ef5c5201d307",
                            "email": "user3@polkaspots.com",
                            "created_at": "1410737976"
                        }
                    ]
                }
            }

## Clone a specific location [/location/{id}/duplicate{?location_name,address,users}]

Create a carbon copy of a location.

This job is processed in the background and you can't copy a location while there's already a clone in process. To check for the clone status, use the show action and attribute **clone_processing**. This will be true if there's a job underway.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + location_name (required, string, `My New Site`) ... The name of the new location.
    + address (required, string, `12 High Road, Derby D11`) ... The address of the new location, also required.
    + users (not-required, string, `true`) ... You can also copy existing admin users to the new location by setting this flag.

### Duplicate a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {
                "id": "derby-council",
                "location_name": "My New Site",
                "address": "12 High Road, Derby D1",
                "users": 'any-value'
            }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been queued for duplication. This may take a few minutes." } 

## Transfer a location [/location/{id}/transfer{?account_id}]

Copy the location to another user. If you transfer a location to a user with insufficient quota, the transfer will fail with a 422 error. Equally, a location can only be transferred if it's state is active.

It's really important to note that transferring a location will remove all location users. The new owner will need to re-invite all the users they require to administer the location.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + account_id (required, string, `A33333`) ... Account ID of the person to transfer the location to. Always starts with A.

### Transfer a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {
                "id": "derby-council",
                "account_id": "A111111"
            }

+ Response 200 (application/json)

    + Body

            { "message": "Your location is being transferred." } 

## Archive a specific location [/location/{id}/archive]

If you don't want to delete a location permanently, you can choose to archive it instead. Archived locations don't count towards your quota and you cannot use an archived location for public access.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Archive a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            { "id": "derby-council", }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been archived" } 

## Restore / Unarchive a specific location [/location/{id}/unarchive]

Restore an archived location to it's former glory.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Archive a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
          
            { "id": "derby-council" }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been unarchived" } 

## Update a Location's firewall rules [/api/v1/location/{id}{?location,firewall_rules_attributes,params}]

You can either create firewall rules directly with the Firewall Rules API or you may update, create and delete when updating a location.

You must wrap the firewall_rules_attributes params in the location params. 

To delete a rule, simply set the _destroy field to 1.

By sending the ID of the firewall rule, we will assume you're going to update the values.

**NOTES**

Whilst it's ok to send the whole location object back when updating the firewall rules, your response times will be faster if you reduce the size of the request (see request below for an example). We'd recommend sending only the required location params back, id, slug and any others you may want to update.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + location (required, object ) ... An object which contains the firewall rule attributes
    + firewall_rules_attributes (required, object ) ... An object of firewall rule attributes

### Update your firewall rules [PATCH]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {"location":
                {
                    "slug": "derby-city-council",
                    "id": 870,
                    "block_access_to_local": true,
                    "firewall_rules_attributes": [
                        {
                            "id": 5850,
                            "chain": "FORWARD",
                            "rule_spec": "I",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.4.124",
                            "source_port": 12,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": 34,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": 1
                        },
                        {
                            "id": 5851,
                            "chain": "FORWARD",
                            "rule_spec": "I",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.210.124",
                            "source_port": null,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": null,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": 2
                        },
                        {
                            "id": 5852,
                            "chain": "FORWARD",
                            "rule_spec": "A",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.4.124",
                            "source_port": 1212,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": 1212,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": null,
                            "_destroy": "1"
                        }
                    ]
                }
            }

+ Response 200 (application/json)

    + Body

            { "message": "You have updated Derby Council" } 

# Group Jobs

Jobs, or events as they should really be named, are things that happen to your boxes. Jobs include device heartbeats, payload commands and more. 

They are a nested resource in the Boxes API.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

## Jobs Collection [/api/v1/boxes/{box_id}/jobs]

You can filter the log_level betweeen 1 and 3.

### List Box jobs [GET]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.

+ Response 200 (application/json)

    + Body
    
[...]
