FORMAT: 1A
HOST: https://api.polkaspots.com

# PolkaSpots API Documentation for Cucumber Tony (Alpha).

##I'm doing it with Cucumber Tony's API, are you?##

Cucumber Tony's API provides a way to control your Wireless networks programatically. This documentation is not considered production ready.

Our API is based on REST principles, all you need to use it is your Cucumber Tony account. You must be authenticated and call HTTPs requests on the URLs listed below. 

Please create an application in Cucumber Tony and use your access token in all requests. More documentation will follow.

The API uses secure Oauth2 to authenicate. You need to create an application before you can use the end-points.

>**Note:** Some resources trigger updates to your boxes. Sending invalid data can cause your boxes to crash.

## Generally Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

##Typical Server Responses

- 200 `OK` - The request was successful (some API calls may return 201 instead).
- 201 `Created` - The request was successful and a resource was created.
- 204 `No Content` - The request was successful but there is no representation to return (that is, the response is empty).
- 401 `Unauthorized` - Authentication failed or user does not have permissions for the requested operation.
- 403 `Forbidden` - Access denied. Naughty pants.
- 404 `Not Found` - Resource was not found.
- 405 `Method Not Allowed` - Requested method is not supported for the specified resource.
- 422 `Bad Request` - The request could not be understood or was missing required parameters.
- 429 `Too Many Requests` - Exceeded our API limits of 60 per minute. 
- 503 `Service Unavailable` - The service is temporary unavailable. Try again later.

##Oauth2 

To make use of the Cucumber Tony API, you will need an access token (and refresh token if building a more persistent application).

For more information how to generate this, create an application here:

https://mywifi.polkaspots.com/oauth/applications

SSL is required.

# Group Accounts

Accounts related resources of the **Accounts API**

## Accounts Collection [/api/v1/accounts]

## Generate Password [/accounts/generate_password]

Create a unique password for your captive portal. This doesn't save anything, it's just a nice little end-point to use.

### Generate a one time password [POST]

+ Request (application/json)

            Accept: application/json

+ Response 200 (application/json)

    + Body

            {"password": "random-passy"}

# Group Blacklists

Related resources of the **Blacklists API**. Blacklists belong to a location. You cannot currently list all your blacklists without specifying a location id (slug).

You can either create, read, update and destroy your blacklists via the blacklists API or you may update with a location.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Blacklists Collection [/api/v1/locations/{location_id}/blacklists]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Blacklists [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body
    
            [{
                "id": 57,
                "mac": "11-22-33-44-55-66",
                "expires_at": null,
                "created_at": "September 17 2014 13:49:43"
            },
            {
                "id": 58,
                "mac": "22-33-22-11-33-44",
                "expires_at": "September 20 2014 00:00:00",
                "created_at": "September 17 2014 13:49:43"
            }]
    
## Blacklists Create [/api/v1/locations/{location_id}/blacklists{?blacklisted,mac}]

### Create a Blacklisted device [POST]

There's two ways to create a blacklisted device, either using this API or the location's API as a nested resource.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + blacklisted (required, params, `mac and optional expired_at`) ... Mac address of the device to block and an optional expires_at date.

+ Request (application/json)

        {
            "blacklisted": 
                {
                    "mac": "00:22:22:11:22:33",
                    "expires_at": "September 20 2015 00:00:00"
                }
        }

+ Response 200 (application/json)

        {
            "id": 7,
            "mac": "00:22:22:11:22:33",
            "expires_at": "2015-09-20T00:00:00.239+01:00",
            "updated_at": "2014-09-17T00:15:57.239+01:00"
        }

## Update a blacklist [/api/v1/locations/{location_id}/blacklists/{id}?blacklisted={params}]

### Update a blacklisted device [PATCH]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the blacklisted device you wish to update.
    + params (required, object, `1`) ... Mac and optional expiration date


+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 7,
            "blacklisted: {
                "mac": "00:22:22:11:22:33"
            }
        }

+ Response 200 (application/json)

        {
            "id": 7,
            "mac": "00:22:22:11:22:33",
            "expires_at": "2015-09-20T00:00:00.239+01:00",
            "updated_at": "2014-09-17T00:15:57.239+01:00"
        }

## Blacklisted Delete [/api/v1/locations/{location_id}/blacklisted/{id}]

### Delete a blacklisted device [DELETE]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the blacklisted device you wish to delete.

+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 123,
        }

+ Response 204 (application/json)

# Group Boxes

Boxes belong to locations and whilst you can read, update, destroy and perform other non-restful actions on a box (or boxes), you are not permitted to create a box without specifiying a location_id with the parameters.

For information about upgrading the software on your devices, please use the payloads API.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Boxes Collection [/api/v1/boxes]

Lists all your boxes globally.

### List all Boxes [GET]

+ Response 200 (application/json)


    + Body

            [
                {
                    "nasname": "10.85.10.162",
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti AirRouter",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 2",
                    "state": "Online",
                    "can_reboot": true,
                    "rebooted": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "10.85.13.238",
                    "slug": "bzwZif_WftBTFkPDfjfJfA",
                    "calledstationid": "24-A4-3C-7C-FC-0A",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 4",
                    "state": "Online",
                    "can_reboot": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "2.5.6.7",
                    "slug": "BFU1ZP9QeN0k3NSIIz8UQQ",
                    "calledstationid": "00-27-22-50-5C-E1",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": null,
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": false,
                    "connected_clients_size": 5
                },
                {
                    "nasname": "10.85.18.146",
                    "slug": "fUMJ89X6s4MM1AajUHl-fQ",
                    "calledstationid": "24-A4-3C-02-37-67",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi AP Pro",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": true,
                    "connected_clients_size": 0
               }
            ]

## Location Boxes Collection [/api/v1/locations/{location_id}/boxes]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Location Boxes [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body

            [
                {
                    "nasname": "10.85.10.162",
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti AirRouter",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 2",
                    "state": "Online",
                    "can_reboot": true,
                    "rebooted": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "10.85.13.238",
                    "slug": "bzwZif_WftBTFkPDfjfJfA",
                    "calledstationid": "24-A4-3C-7C-FC-0A",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 4",
                    "state": "Online",
                    "can_reboot": true,
                    "connected_clients_size": 0
                },
                {
                    "nasname": "2.5.6.7",
                    "slug": "BFU1ZP9QeN0k3NSIIz8UQQ",
                    "calledstationid": "00-27-22-50-5C-E1",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": null,
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": false
                    "connected_clients_size": 2
                },
                {
                    "nasname": "10.85.18.146",
                    "slug": "fUMJ89X6s4MM1AajUHl-fQ",
                    "calledstationid": "24-A4-3C-02-37-67",
                    "last_heartbeat": "August 21 2014 01:12:07",
                    "label_name": "success",
                    "location_id": 53,
                    "machine_type": "Ubiquiti UniFi AP Pro",
                    "location_name": "PS Bavan Testing AirRouter",
                    "description": "PS Bavan Testing AirRouter 5",
                    "state": "Online",
                    "can_reboot": true
                    "connected_clients_size": 6
                }
            ]

## Box [/api/v1/boxes/{id}]

The box object contains a lot of information relating to both the box and the local networks. Assuming the box is online, you will see a nested object called iwinfo which contains the interface stats, including signal strength and SSID.

For more detailed iwinfo / wireless stats, please use the Interfaces API.

Some of the information will seem irrelevant however we have included all fields required to fully troubleshoot and diagnose. For example, gubbins_version relates to the software version you're currently using.

There's some helpers included too which may help you build a beautiful portal. We've included a humanised device_icon field, status colour and a few more goodies.

+ Parameters

    + id (required, string, `a-long-slug`) ... Slug `slug` of the box to perform action with. Has example value.

### Display a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)


    + Body

            {
                "slug": "YZJ6exYhemVwrOfigb-x1w",
                "created_at": 1404910675,
                "device_icon": "ubiquiti-unifi-ap-pro-icon.png",
                "uptime": " 11:34:04 up 12:57,  load average: 0.13, 0.11, 0.14, 46648.23",
                "location_id": 590,
                "gmaps_zoom": 17,
                "last_heartbeat": 1425209644,
                "description": "Polkaspots Office BOX 2",
                "calledstationid": "xx-xx-3C-02-37-67",
                "wan_ip": "10.0.1.250",
                "wan_proto": "dhcp",
                "public_ip": "33.33.199.193",
                "dns_hostname": "33-33-199-193.static.ps.net",
                "state": "online",
                "installer_id": 4,
                "serial_number": "5664-8359-6940-8594",
                "system_type": "Atheros AR9344",
                "machine_type": "Ubiquiti UniFi AP Pro",
                "access_token": "cfe433b0-315c-41e1-972e-73d9652aa6eb",
                "latitude": "51.5221223564181",
                "longitude": "-0.104187726974487",
                "wan_ipaddr": null,
                "wan_netmask": "255.255.255.0",
                "wan_gateway": null,
                "wan_dns_1": "8.8.8.8",
                "wan_dns_2": "8.8.4.4",
                "channel": "auto",
                "channel_5": "auto",
                "tx_power_2": "20",
                "tx_power_5": "20",
                "ht_mode_2": "HT20",
                "ht_mode_5": "HT20",
                "updated_at": 1425209654,
                "development_mode": "Beta",
                "is_monitored": true,
                "pppoe_username": null,
                "pppoe_password": null,
                "radiusnasid": "XXX-eb38-48ed-99d3-6c3e6e",
                "last_disconnect_reason": "power",
                "firmware_version": "B_140812_00",
                "next_firmware": null,
                "upgrade_scheduled": null,
                "upgrade_processing": false,
                "dual_band": true,
                "iwinfo": [
                    {
                        "ssid": "Office-PBP",
                        "interface": "wlan0",
                        "noise": -95,
                        "channel": 36
                    },
                    {
                        "ssid": "Will Young and Rod Stewart",
                        "interface": "wlan0-1",
                        "noise": -95,
                        "channel": 36
                    },
                    {
                        "ssid": "Office-PBP",
                        "interface": "wlan1",
                        "noise": -95,
                        "channel": 11
                    },
                    {
                        "ssid": "Will Young and Rod Stewart",
                        "interface": "wlan1-1",
                        "noise": -95,
                        "channel": 11
                    }
                ],
                "avg_speedtest": 1976458,
                "wan_mtu": 1492,
                "speedtest_running": false,
                "status_colour": "#64AB35",
                "upgrading": false,
                "can_reboot": true,
                "latest_speedtest": {
                    "result": 1365,
                    "timestamp": 1425182795
                },
                "is_online": true,
                "is_polkaspots": true,
                "clients_online": "0",
                "timezone": "London",
                "auto_upgrades": false,
                "sockets_hash": "YZJ6eYhemVwrOfigb-x1w",
                "band_steering": true,
                "radius_secret": "secret-passy",
                "sync_id": "0e38ccc6e2b73cc65f14fa3d053385282639",
                "certs": true,
                "gubbins_version": "1.3.5"
            }

### Delete a box [DELETE]

+ Parameters

    + id (required, integer, `1`) ... ID of the box you wish to delete.

+ Request (application/json)

        {   "id": 'JCyK7Zwh0ON_ZOWso8Mhuw'  }

+ Response 204 (application/json)


## Box Create [/api/v1/boxes{?calledstationid,description,location_id,discovery}]

### Create a Box [POST]

Don't forget, you must send the location_id with your request IN the box params. The following params are available:

If you are using the magic auto-discovery tool, please use the detect API end point before creating a box. Passing the parameter discovery=true will automatically add your discovered devices. If you're using this method, you do not need to send the calledstationid etc.
+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + calledstationid (required, string, `mac`) ... Mac address of the box.
    + description (required, text, `Upstairs, in the loft`) ... A description of the box.
    + discovery (optional, boolean, true) ... Send this parameter in to override the above options and automatically add discovered boxes.

+ Request (application/json)

        { 
            "box":
                {
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }
        }
        

+ Response 200 (application/json)

                {
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "created_at": "March 29 2014 10:54:59",
                    "device_icon": "ubiquiti-airrouter-icon.png",
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }


## Update a box [/api/v1/boxes/{id}{?params}]

### Update a box [PATCH]

If you update any fields related to the network settings, you will reboot your boxes. These include:

- WAN_IP
- WAN_GATEWAY
- WAN_DNS_1
- WAN_DNS_2
- WAN_NETMASH
- BAND_STEERING
- CHANNEL_2
- CHANNEL_5
- PPOE_USERNAME

For a full list of available params, please see the box#show section above. Some fields are read-only and will be ignored. These might include things like the last_heartbeat.

+ Parameters

    + id (required, integer, `1`) ... ID of the blacklisted device you wish to update.
    + params (required, object, `1`) ... Any information about the box. A full list of params can be seen above.

+ Request (application/json)

        { 
            "box":
                {
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }
        }

+ Response 200 (application/json)

                {
                    "slug": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "created_at": "March 29 2014 10:54:59",
                    "device_icon": "ubiquiti-airrouter-icon.png",
                    "location_id": 53,
                    "gmaps_zoom": 10,
                    "description": "In the washing room",
                    "calledstationid": "DC-9F-DB-3D-AC-49",
                    "wan_ip": "192.168.1.64",
                    "wan_proto": "static",
                    "radius_secret": "f797ef11f80f2737e07de1bae056",
                    "access_token": "3db9e053-fabb-422d-a5b1-18b275af5236",
                    "machine_type": "Ubiquiti AirRouter",
                    "gubbins_version": "1.3",
                    "latitude": "51.54462696721446",
                    "longitude": "-0.053558349609375",
                    "wan_netmask": "255.255.255.0",
                    "wan_gateway": "192.168.1.1",
                    "wan_dns_1": "8.8.8.8",
                    "wan_dns_2": "8.8.4.4",
                    "channel": "04",
                    "channel_5": "auto",
                    "tx_power_2": "19",
                    "tx_power_5": "20",
                    "ht_mode_2": "HT40+",
                    "ht_mode_5": "HT20",
                    "updated_at": "September 29 2014 17:13:56",
                    "development_mode": "Beta",
                    "is_monitored": false,
                    "pppoe_username": "user@polkaspots.com",
                    "pppoe_password": "pass"
                }

## Reboot a box [/api/v1/boxes/{id}/reboot]

### Reboot a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to reboot" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Reset a box [/api/v1/boxes/{id}/reset{?soft}]

Restores things to factory defaults.

Sending the parameter 'soft', will perform a soft reset of the box. This doesn't reset any certificates etc, it just resets the basic attributes.

### Reset a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.
    + soft (optional, string, `true`) ... Soft reset the box by sending the soft=true parameter.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to reset" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Resync a box [/api/v1/boxes/{id}/resync]

This will cause a full configuration sync of the box sending the networks and wireless configuration files. This will restart all services and can disconnect users.

### Resync a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.

+ Request (application/json)

        { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        { response: "Please allow 2-3 minute for the device to resync" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Transfer a box [/api/v1/boxes/{id}/transfer{?transfer_to}]

Creates a transfer to move a box to a different location. Please note, this cannot be reversed, if you enter the incorrect location_id to transfer to, you may lose the box forever :(

This does not happen immediately and will be queued for transfer. This might take a few seconds to complete.

Please note, this will also reset your box to reflect the settings of the new location.

### Transfer a box [POST]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID (we use the slug) of the device you want to reboot.
    + transfer_to (required, string, `759275635389093876`) ... The Unique ID of the location you want to transfer the device to.

+ Request (application/json)

        { 
            "id": "JCyK7Zwh0ON_ZOWso8Mhuw",
            "transfer_to": "759275635389093876",
        }

+ Response 200 (application/json)

        { slug: "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Detect new boxes [/api/v1/boxes/detect{?location_id}]

Cucumber can automatically detect boxes with Stinky Panda installed. Once you have detected a box, you can then automatically add the selected once to your location.

The API will also return an array of boxes which have already been added. This is useful in case a previously detected box was added to your locations.

Please note, you must be close to the boxes you want to detect and on the same network. If you want add a box to another location, you must use the standard box create API.

Once you have detected your boxes, you will start receiving emails whenever a new box is connected in that location. 

Read the box#create section of this documentation to discover how to add boxes.

### Detect boxes [POST]

+ Parameters

    + location_id (required, string, `759275635389093876`) ... The slug / ID of the location you want to detect and add boxes to.

+ Request (application/json)

        { 
            "location_id": "bobs-house"
        }

+ Response 200 (application/json)

        [
            {
                "type": "Ubiquiti AirRouter",
                "mac": "DC-9F-DB-3D-AA-43",
                "existing": true
            },
            {
                "type": "Ubiquiti Unifi",
                "mac": "DD-ED-1D-AA-EE-AA",
                "existing": false
            }
        ]
        
+ Response 400 (application/json)

        { status: "unprocessable_entity" }

## Update the alerts for a box [/api/v1/boxes/{box_id}/alerts{?alerts}]

### Enable / Disable alerts for a box [PATCH]

+ Parameters

    + box_id (required, string, `"JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.
    + alerts (required, boolean, `"true`) ... True or false depending on whether you want alerts on or off.

+ Request (application/json)
    
        { "box_id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)

        {
            "is_monitored": true,
            "slug": "JCyK7Zwh0ON_ZOWso8Mhuw"
        }

+ Response 422 (application/json)

        { status: "unprocessable_entity" }

## Box Heartbeats [/api/v1/boxes/{id}/heartbeats]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the box to perform action with. Has example value.

### List all heartbeats for a box [GET]

+ Request (application/json)

            { "id": "JCyK7Zwh0ON_ZOWso8Mhuw" }

+ Response 200 (application/json)


    + Body


# Group Commands

Commands reference the **Commands API**. 

Commands can be applied directly to a box (see Payloads API) or events. There's two types of events:

1. Available to schedule
2. PolkaSpots only

PolkaSpots only commands should not be run on non-ps boxes. For example, you cannot schedule a Xirrus to reboot using the paylods.

However, you may disable the Xirrus login screens. PolkaSpots only commands are suitable for boxes running the Stinky Panda firmware only.

Only PolkaSpots staff are able to create, modify and delete commands at the moment.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

##Allowed HTTPs requests for non-customers:

- `POST` - Creates or updates a resource
- `PATCH` - Updates a resource
- `DELETE` - Delete a resource

## Commands Collection [/api/v1/commands]

### List all Commands [GET]

+ Response 200 (application/json)

    + Body
                
            [
                {
                    "id": 34,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Reboot my access point ",
                    "payload_name": "Reboot Access Points",
                    "payload_command": "/sbin/reboot",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 35,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable My Login Screens",
                    "payload_name": "Disable Login Screens",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": false
                },
                {
                    "id": 36,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable My Login Screens",
                    "payload_name": "Enable Login Screens",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": false
                },
                {
                    "id": 37,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable my private Wi-Fi network completely",
                    "payload_name": "Disable Private Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 38,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable my private Wi-Fi network",
                    "payload_name": "Enable Private Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 39,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Hide my public Wi-Fi network",
                    "payload_name": "Hide Public Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 40,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Show my public Wi-Fi network",
                    "payload_name": "Show Public Wi-Fi Network",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 41,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Disable all Wi-Fi networks",
                    "payload_name": "Wi-Fi Down Completely",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                },
                {
                    "id": 42,
                    "unique_id": "9328ce1-c7c4-49a2-bee1-c2a2d6234a9d",
                    "payload_description": "Enable all Wi-Fi networks",
                    "payload_name": "Wi-Fi Up Completely",
                    "payload_command": "",
                    "can_schedule": true,
                    "only_polkaspots": true
                }
            ]
            
## Commands Create [/api/v1/commands{?command}]

### Create a command [POST]

+ Request 200 (application/json)

            {
                "command": 
                    {
                        "payload_description": "Reboot my access point ",
                        "payload_name": "Reboot Access Points",
                        "payload_command": "/sbin/reboot",
                        "can_schedule": true,
                        "only_polkaspots": true
                    }
            }


+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": true,
                "only_polkaspots": true
            }
        

## Command Details [/api/v1/commands/:id]

### Update a Command [GET]


+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.

+ Request (application/json)

        {"id": 34}

+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        
## Command Update [/api/v1/commands/:id{?command}]

### Update a Command [PATCH]

+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.
    + command (required, params, `{some: params, included: here}`) ... An object with the parameters you want to update.

+ Request (application/json)

        {
            "command": {
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        }

+ Response 200 (application/json)

    + Body
        
            {
                "id": 34,
                "payload_description": "Reboot my access point ",
                "payload_name": "Reboot Access Points",
                "payload_command": "/sbin/reboot",
                "can_schedule": false,
                "only_polkaspots": true
            }
        

## Command Delete [/api/v1/commands/{id}]

### Delete a Command [DELETE]

+ Parameters

    + id (required, integer, `1`) ... ID of the command you wish to update.

+ Request (application/json)

        {   
            "id": 123,
        }

+ Response 204 (application/json)

# Group Clients

Clients related resources of the **Clients API**. Events

Clients, when nested in the box resource, represent the currently connected clients on box. This is for public access only right now.

**The clients API is only available for boxes which use the PolkaSpots Firmware.**

The status parameter will be one of two values:

- pass - The user is logged in a browsing
- dnat - The user is connected to the WiFi but not logged in.

## List Connected Clients [/api/v1/boxes/{box_id}/clients]

List all currently connected clients on a box.

### List all connected clients [GET]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.

+ Response 200 (application/json)

    + Body

            [{
                "mac": "1C-65-9D-83-XX-XX",
                "ip": "192.168.4.12",
                "status": "pass",
                "session_id": "52a7738100000005",
                "username": "happy_cheese_x-15196",
                "maxinput": "1/604800",
                "maxoutput": "36302156/0"
            },
                "mac": "XX-XX-XX-XX-XX-XX",
                "ip": "192.168.4.16",
                "status": "pass",
                "session_id": "9827349872323",
                "username": "happy-online-12312",
                "maxinput": "1/70400",
                "maxoutput": "302156/0"
            ]

## Disconnect a client [/api/v1/boxes/{box_id}/clients/{id}]

You can log a user out using the CLients API quickly.

### Disconnect a user [POST]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.
    + id (required, string, `52a7738100000005`) ... ID `id` the session ID of the client you wish to disconnect.

+ Response 200 (application/json)

    + Body
        
            { "message": "The client has been disconnected." }
        
+ Response 422 (application/json)

    + Body
        
            { "message": "There was a problem disconnecting the client." }
        
# Group Events

Events related resources of the **Events API**. Events run at predefined intervals on your location's boxes.

You can, for example, disable the login screens at lunch or reboot your access point in the evening.

All events run on PolkaSpots boxes (running Stinky Panda). Third party boxes may only receive a selection of events.

##Allowed HTTPs requests:

- `POST` - Creates or updates a resource
- `GET` - Retrieves a resource or list of resources
- `DELETE` - Delete a resource

## Events Collection [/api/v1/locations/{location_id}/events]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Events for a location [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body
    
            [
                {
                    "id": 115,
                    "location_id": 870,
                    "event_hour": "09:00",
                    "event_frequency": "Daily",
                    "payload_id": 34,
                    "description": "Reboot my access point ",
                    "unique_id": "6717550402069326522",
                    "slug": null,
                    "command_hash": null,
                    "experimental": false,
                    "premium": false,
                    "active": true,
                    "created_at": "2014-09-17T18:48:23.000+01:00",
                    "updated_at": "2014-09-17T18:48:23.000+01:00"
                }
            ]

## Create an Event [/api/v1/locations/{location_id}/events{?event}]

### Create an Event [POST]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + event (required, params, `polkaspots.com`) ... parameters required for the creation of the event.

+ Request (application/json)

            {
                "event_hour": "09:00",
                "event_frequency": "Daily",
                "payload_id": 34,
                "description": "Reboot my access point ",
            }

+ Response 200 (application/json)

            {
                "id": 115,
                "location_id": 870,
                "event_hour": "09:00",
                "event_frequency": "Daily",
                "payload_id": 34,
                "description": "Reboot my access point ",
                "unique_id": "6717550402069326522",
                "slug": null,
                "command_hash": null,
                "experimental": false,
                "premium": false,
                "active": true,
                "created_at": "2014-09-17T18:48:23.000+01:00",
                "updated_at": "2014-09-17T18:48:23.000+01:00"
            }

## Delete Event [/api/v1/locations/{location_id}/events/{id}]

### Delete an Event [DELETE]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the event you wish to delete.

+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 123,
        }

+ Response 204 (application/json)

# Group Firewall Rules

Firewall Rules related resources of the **Firewall Rules API**. Firewalls are a nested in a location. You cannot currently list all your walled gardens without specifying a location id (slug).

Not all the parameters listed in this spec are supported yet.

##Allowed HTTPs requests:

    - `POST` - Creates or updates a resource
    - `PATCH` - Updates a resource
    - `GET` - Retrieves a resource or list of resources
    - `DELETE` - Delete a resource

## Firewall Rules Collection [/api/v1/locations/{location_id}/firewall_rules]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### List all Firewall Rules [GET]

+ Request (application/json)

            { "location_id": "derby-council" }

+ Response 200 (application/json)


    + Body
    
            [
                {
                    "id": 4145,
                    "chain": "FORWARD",
                    "rule_spec": "A",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "February 15 2014 19:27:05",
                    "updated_at": "February 15 2014 19:27:05"
                },
                {
                    "id": 4146,
                    "chain": "FORWARD",
                    "rule_spec": "A",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "February 15 2014 19:27:05",
                    "updated_at": "February 15 2014 19:27:05"
                },
                {
                    "id": 5848,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "September 16 2014 17:53:15",
                    "updated_at": "September 16 2014 17:53:15"
                },
                {
                    "id": 5849,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "September 16 2014 17:53:15",
                    "updated_at": "September 16 2014 17:53:15"
                },
                {
                    "id": 5850,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.4.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 1,
                    "created_at": "September 16 2014 17:53:49",
                    "updated_at": "September 16 2014 17:53:49"
                },
                {
                    "id": 5851,
                    "chain": "FORWARD",
                    "rule_spec": "I",
                    "string_patch": null,
                    "protocol": null,
                    "source_ip": "192.168.210.1/24",
                    "source_port": null,
                    "source_interface": null,
                    "out_interface": null,
                    "dest_ip": "local",
                    "dest_port": null,
                    "target": "DROP",
                    "limit": null,
                    "c_state": null,
                    "log_level": null,
                    "location_id": 870,
                    "position": 2,
                    "created_at": "September 16 2014 17:53:49",
                    "updated_at": "September 16 2014 17:53:49"
                }
            ]

## Firewall Rule Create [/api/v1/locations/{location_id}/firewall_rules{?firewall_rule}]

### Create a Firewall Rule [POST]

There's two ways to create a firewall rule. You can either post directly with a location id or you update the resource when updating a location. Please see the section within the location's group for more information. 

**CAUSES SYNC**

Please note, creating a new firewall rule will force all your boxes to reload their networks. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + firewall_rule (required, object) ... A list of parameters you want to use to create the firewall rule.

+ Request (application/json)

        { "firewall_rule": 
            {
                "chain": "FORWARD",
                "rule_spec": "I",
                "protocol": null,
                "source_ip": "192.168.1.4/24",
                "source_port": null,
                "source_interface": null,
                "out_interface": null,
                "dest_ip": null,
                "dest_port": null,
                "target": "DROP",
                "limit": null,
                "c_state": null,
                "log_level": null
            }
        }
        

+ Response 200 (application/json)

        {
            "id": 594,
            "chain": "FORWARD",
            "rule_spec": "I",
            "protocol": null,
            "source_ip": "192.168.1.4/24",
            "source_port": null,
            "source_interface": null,
            "out_interface": null,
            "dest_ip": null,
            "dest_port": null,
            "target": "DROP",
            "limit": null,
            "c_state": null,
            "log_level": null,
            "location_id": 2213,
            "position": null,
            "created_at": "2014-09-17T02:10:34.708+01:00",
            "updated_at": "2014-09-17T02:10:34.708+01:00"
        }

## Firewall Rule Update [/api/v1/locations/{location_id}/firewall_rules/{id}?firewall_rule={?params}]

### Update a Firewall Rule [PATCH]

You can also update a firewall rule url by using the location's update method.

**CAUSES SYNC**

Please note, updating a firewall rule will force all your boxes to reload their networks. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the walled garden you wish to update.
    + params (required, string, `params hash`) ... A list of parameters you wish to update.

+ Request (application/json)

        { "firewall_rule": 
            {
                "id": "594",
                "chain": "FORWARD",
                "rule_spec": "I",
                "protocol": null,
                "source_ip": "192.168.0.4/24",
                "source_port": null,
                "source_interface": null,
                "out_interface": null,
                "dest_ip": null,
                "dest_port": null,
                "target": "DROP",
                "limit": null,
                "c_state": null,
                "log_level": null
            }
        }

+ Response 200 (application/json)

        {
            "id": 594,
            "chain": "FORWARD",
            "rule_spec": "I",
            "protocol": null,
            "source_ip": "192.168.0.4/24",
            "source_port": null,
            "source_interface": null,
            "out_interface": null,
            "dest_ip": null,
            "dest_port": null,
            "target": "DROP",
            "limit": null,
            "c_state": null,
            "log_level": null,
            "location_id": 2213,
            "position": null,
            "created_at": "2014-09-17T02:10:34.708+01:00",
            "updated_at": "2014-09-17T02:10:34.708+01:00"
        }

## Firewall Rule Delete [/api/v1/locations/{location_id}/firewall_rules/{id}]

### Delete a Walled Garden [DELETE]

**CAUSES SYNC**

Please note, creating a new walled garden will force all your boxes to reload their group network. This *will* log users off.

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + id (required, integer, `1`) ... ID of the firewall rule you wish to update.

+ Request (application/json)

        {   
            "location_id": "derby-council",
            "id": 123,
        }

+ Response 204 (application/json)

# Group Heartbeats

The main device heartbeats API which records when your boxes went offline and online.

Other interesting information included in this API is the last possible disconnect reason.

This will either be:

- Lost connection - no Internet found / cable disconnected
- Lost power - someone had turned it off or disconnected power.

They are a nested resource in the Boxes API.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

## Heartbeats Collection [/api/v1/boxes/{box_id}/heartbeats]

### List Heartbeats [GET]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.

+ Response 200 (application/json)

    + Body
        
            [{
                "box_id": 2217,
                "created_at": "March 29 2014 11:00:45",
                "disconnect": 'connection',
                "online": false
            },
            {
                "box_id": 2217,
                "created_at": "April 2 2014 17:51:32",
                "disconnect": 'connection',
                "online": true
            },
            {
                "box_id": 2217,
                "created_at": "April 5 2014 13:17:46",
                "disconnect": 'connection',
                "online": false
            },
            {
                "box_id": 2217,
                "created_at": "April 6 2014 07:35:02",
                "disconnect": 'connection',
                "online": true
            },
            {
                "box_id": 2217,
                "created_at": "April 6 2014 07:28:38",
                "disconnect": 'power',
                "online": false
            },
            {
                "box_id": 2217,
                "created_at": "April 8 2014 13:31:36",
                "disconnect": 'connection',
                "online": true
            }]

# Group Invoices

The main device invoices API which displays your service invoices.

Using this API, you can request copies of your invoices to be sent to your billing contacts. Handy.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources
- `POST` - Emails one or more invoices to your billing contacts.

## Invoices Collection [/api/v1/invoices]

### List Invoices [GET]

+ Response 200 (application/json)

    + Body

## Display an invoice [/api/v1/invoices/{id}]

### Display Invoices [GET]

+ Parameters

    + id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... ID of the invoice you want to retreive.

+ Response 200 (application/json)

    + Body

## Email your invoices [/api/v1/invoices/email?{ids}]

### Emails Invoices [POST]

+ Parameters

    + ids (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Comma separated list of emails to send via email.

+ Response 200 (application/json)

    + Body


# Group Locations

Locations related resources of the **Locations API**

TO DO: Add a list of parameters we can access.

## Locations Collection [/api/v1/locations]

### List all Locations [GET]

+ Request (application/json)

    + Header

            Accept: application/json

+ Response 200 (application/json)

        [{
            "id": 1687,
            "location_name": "Cafe International",
            "slug": "cafe-international-f84e1979-52e4-49ff-8d6e-ed808578b36a",
            "created_at": "May 6 2014 11:47:08",
            "network_name": "PolkaSpots",
            "location_address": "12 High Lane",
            "street": "12 High Lane",
            "phone1": "02071831471",
            "location_website": null,
            "location_type": null,
            "nas_count": 1,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        },
        {
            "id": 870,
            "location_name": "Derby - City Council",
            "slug": "derby-city-council",
            "created_at": "August 19 2013 11:50:04",
            "network_name": "Meraki",
            "location_address": "Corporation Street Derby ",
            "street": "",
            "phone1": "01332293111",
            "location_website": "www.surfthecity.co.uk",
            "location_type": "186",
            "nas_count": 5,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        }]

## Locations Search [/api/v1/locations?q={search}]

### Search for locations [GET]

+ Parameters

    + q (required, string, `Some Search Text`) ... What are you looking for?

+ Request (application/json)

    + Headers

            Accept: application/json

    + Body

            { "q": "derby" }

+ Response 200 (application/json)

        [{
            "id": 870,
            "location_name": "Derby - City Council",
            "slug": "derby-city-council",
            "created_at": "August 19 2013 11:50:04",
            "network_name": "Meraki",
            "location_address": "Corporation Street Derby ",
            "street": "",
            "phone1": "01332293111",
            "location_website": "www.surfthecity.co.uk",
            "location_type": "186",
            "nas_count": 5,
            "archived": false,
            "development_mode": "Production",
            "daily_limit": true
        }]

## Locations Short List [/api/v1/locations?short=yep{?q}]

Returns a mini-list of your locations. Is good for search, cloning the logins, stuff where you don't need much info.

### A consolidated list of locations [GET]

+ Parameters

    + q (optional, string, `Some Search Text`) ... What are you looking for?

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body

            { "short": "yep" }

+ Response 200 (application/json)

        [{
            "location_name": "Derby - City Council",
            "slug": "derby-city-council",
            "unique_id": "7379871298798717"
        }]

## Create a location [/api/v1/locations{?location}]

Default required params include:

- location_name
- address
- town
- postcode

You may send an array of mac addresses to create boxes associated with the location. This must follow the following convention:

    { "boxes": { "ap_mac": ["00:22:22:11:22:33", "66:22:11:22:33:44"] }

You can also send a facebook_id with your request. Doing so will cause CT to totally ignore the data you've sent. Instead, Cucumber Tony will contact Facebook and grab the information from them instead.

    { "location": { "facebook_id": "valid-fb-id" } }
    

### Create a Location [POST]

+ Parameters

    + location (required, JSON object, `location_name: derby-city-council`) ... JSON object of all the parameters you wish to create your location with.

+ Request (application/json)

        "location":
            {
                "location_name": "Derby Council",
                "address": "1 Really Long Road",
                "town": "A far away land",
                "postcode": "EC1M",
                "phone1": '01604 134 1679',
                "facebook_id": "187263871623"
            },
        "boxes":
        
            { "ap_mac": ["AA:BB:CC:DD:EE:FF:11"] }

+ Response 200 (application/json)

        {
            "id": 1768,
            "slug": "derby-ff3b5382-baa5-4ecd-945a-526427e057a1",
            "created_at": "September24201419: 07: 09",
            "attr_generated": false,
            "location_address": "62 Britton Street",
            "location_name": "PolkaSpots"
        }

## Location [/location/{id}]

A single Location object with all its details

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Retrieve a Location [GET]

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "id": 870,
                "location_name": "Derby City Council",
                "unique_id": "xxx",
                "slug": "derby-city-council",
                "created_at": "August 19 2013 11:50:04",
                "updated_at": "September 8 2014 14:41:58",
                "location_info": "This Wi-Fi service is provided by Derby City Council.",
                "location_info_two": "",
                "location_address": "The High Street",
                "street": "Derby",
                "postcode": "DE1 2FS",
                "town": "Derby",
                "country": "United Kingdom",
                "website": null,
                "geocode": null,
                "email_owner": "",
                "phone1": "02071831471",
                "location_website": "www.surfthecity.co.uk",
                "sanitised_website": "surfthecity.co.uk",
                "created_by": null,
                "location_notes": null,
                "success_url": "",
                "network_name": "Meraki",
                "average_spend": null,
                "api_token": "xxx",
                "state": "stage_6",
                "archived": false,
                "newsletter_enabled": false,
                "newsletter_list_id": null,
                "newsletter_type": "0",
                "newsletter_api_token": null,
                "location_twitter": "derbymuseums",
                "latitude": null,
                "longitude": null,
                "gmaps": false,
                "passwd_change_day": null,
                "passwd_auto_gen": false,
                "ssid": "PolkaSpots Supafly Wi-Fi",
                "channel": "auto",
                "whitelist_mac": null,
                "uampass": null,
                "chilli_network": "192.168.4.0",
                "chilli_netmask": "255.255.255.0",
                "chilli_uamlisten": "192.168.4.1",
                "chilli_uamport": "3990",
                "chilli_dns1": "208.67.222.222",
                "chilli_dns2": "208.67.220.220",
                "chilli_radius": "cluster-1.polkaspots.co",
                "chilli_radius1": "cluster-2.polkaspots.co",
                "chilli_uamallow": "8.8.8.8,208.67.222.222,208.67.220.220",
                "chilli_uamsecret": "xxx",
                "encryption": "none",
                "encryption_key": null,
                "encryption_private": "psk",
                "encryption_private_key": "406c6e9b4dbe",
                "ssid_private": "PolkaSpots Private",
                "ssid_disabled": false,
                "ssid_private_disabled": true,
                "network_private": "private",
                "network": "lan",
                "network_country": "GB",
                "ssid_hidden": false,
                "ssid_private_hidden": false,
                "tx_power_2": "20",
                "tx_power_5": "20",
                "ht_mode_2": "HT20",
                "ht_mode_5": "HT20",
                "channel_5": "auto",
                "lan_ipaddr": "192.168.210.1",
                "lan_dhcp_start": 2,
                "lan_dhcp_end": 150,
                "lan_dhcp_lease": "12h",
                "wan_mtu": 1500,
                "development_mode": "Production",
                "network_settings": 1,
                "block_access_to_local": true,
                "enforce_limit": null,
                "authorised_domain": "mywifi",
                "content_filter": "Security",
                "wisp_id": 1,
                "product_order_id": null,
                "access_password": "a0da85",
                "shop_active": false,
                "access_type_description": "",
                "login_screens_disabled": false,
                "timed_access": true,
                "daily_limit": true,
                "weekly_limit": false,
                "monthly_limit": false,
                "secondary_access_active": false,
                "auto_login": true,
                "auto_login_time": 0,
                "fb_login_on": true,
                "fb_login_checkin_req": false,
                "fb_login_checkin_allow": false,
                "fb_login_leave_msg": false,
                "facebook_cover_id": null,
                "facebook_cover_url": null,
                "social_login_vouchers": false,
                "use_ps_twillio": true,
                "twillio_from_number": null,
                "twillio_username": null,
                "twillio_token": null,
                "default_currency": "GBP",
                "foursq_id": "4b9fb6e4f964a520c13737e3",
                "foursq_category": null,
                "foursq_name": null,
                "foursq_verified": false,
                "foursq_url": null,
                "facebook_products": null,
                "facebook_username": "derbymuseums",
                "facebook_id": "",
                "facebook_link": "http://facebook.com/derbymuseums",
                "facebook_hours": null,
                "google_url": null,
                "google_hours": null,
                "google_reference": null,
                "add_to_global_map": true,
                "login_header_image": 2,
                "login_background_image": 2,
                "login_css_heading_text_colour": "#ffffff",
                "login_css_body_text_colour": "#796f66",
                "login_css_border_colour": "#9dd8dd",
                "login_css_link_colour": "#ffffff",
                "login_css_container_colour": "#9dd8dd",
                "login_css_container_transparency": "1",
                "login_css_button_colour": "#000000",
                "login_css_header_colour": "#5F7883",
                "login_css_error_colour": "#a12c6c",
                "login_terms_url": "http://polkaspots.com/wifi-terms",
                "location_image_file_name": "STC.png",
                "logo_file_name": "",
                "logo_content_type": "image/png",
                "body_background_color": "#9dd8dd",
                "background_file_name": "white.jpg",
                "login_design": 1,
                "login_words_position": "Left",
                "login_logo_position": "Left",
                "custom_css": null,
                "login_container_inner_width": "95%",
                "login_bg_dimension": "full",
                "login_css_heading_text_size": "40px",
                "login_css_heading_2_text_size": "18px",
                "login_css_heading_2_text_colour": "#796f66",
                "login_css_heading_3_text_size": "18px",
                "login_css_heading_3_text_colour": "#796f66",
                "login_button_text": "Login Now",
                "fsq_login_checkin_allow": false,
                "font_family": "'Helvetica Neue',sans-serif",
                "login_btn_font_size": "18px",
                "login_btn_font_colour": "#d396c3",
                "container_width": "600px",
                "logins_forgot_password": false,
                "external_css_url": null,
                "skip_user_registration": false,
                "remove_registration_link": false,
                "logins_redirect_url": null,
                "font_size": "15px",
                "location_header": "Welcome to Surf the City",
                "li_login_on": false,
                "flume_enabled": false,
                "meraki_validator": null,
                "attr_generated": true,
                "location_categories": "Government Building"
            }

### Update a Location [PATCH]

  TBC
    
+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

### Remove a Location [DELETE]

 TBC

+ Response 204

## Location Statistics [/location/{id}/stats]

A single Location's statistical objects

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Retrieve a Location's Statistics [GET]

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "slug": "derby-city-council",
                "lat": null,
                "lon": null,
                "sessions": 0,
                "uniques": 0,
                "minutes_online": 0,
                "downloads": 0,
                "busiest_hr": null,
                "busiest_day": null,
                "total_sales": 0,
                "qnty_sales": 0,
                "range": "07/28/2014 - 09/08/2014",
                "chart_series": {
                    "Sessions": "[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
                    "Unique users": "[0,16,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"
                },
                "audience": [],
                "loyalty": {
                    "new": 0,
                    "returning": null
                },
                "geojson": [
                    {
                        "lat": null,
                        "lon": null,
                        "title": "Derby City Council 6",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council 6",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "28.15303332447874",
                        "lon": "-60.83188607793834",
                        "title": "Derby City Council",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "-24.1850770453765",
                        "lon": "-162.5053433148802",
                        "title": "Derby City Council",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby City Council",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": "-39.74956573964626",
                        "lon": "176.4442398543561",
                        "title": "Derby Council 2",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby Council 2",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    },
                    {
                        "lat": null,
                        "lon": null,
                        "title": "Derby - City Council 6",
                        "slug": "xxx",
                        "colour": "#DE2AE5",
                        "network": "meraki",
                        "description": "Derby - City Council 6",
                        "mac": "00-18-0A-XX-XX-XX",
                        "sessions": null,
                        "heartbeat": null
                    }
                ],
                "top_boxes": []
            }
                
## Get Location Users [/location/{id}/users]

Get a list of all the users who have access to your location. The output will include four keys - **owner, admins, invites, watchers**

- The owners object contains details of the primary user's plan.
- The admin users object contains all users will admin rights to the location.
- The invites object represents and invitations which have been sent recently.
- The watchers object containts non-admin, read only users for the location

+ Parameters
    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Get a list of location users and watchers [GET]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            { "id": "derby-city-council" }

+ Response 200 (application/json)

    + Header

            Accept: application/json

    + Body

            {
                "location_name": "Derby City Centre",
                "unique_id": "432692681892998301233",
                "slug": "derby-city-council",
                "admin_users": {
                    "admins": [
                        {
                            "email": "bob@derby.gov.uk",
                            "username": "Bob Marley",
                            "unique_id": "29789523",
                            "slug": "bob-marley"
                        },
                        {
                            "email": "support@polkaspots.com",
                            "username": "Steve Jobs",
                            "unique_id": "82052203",
                            "slug": "steve-jobs"
                        }
                    ],
                    "watchers": [
                        {
                            "name": "Simon Stanley",
                            "token": "e598110e2109b4189d61d3629aec21f5b69c5b375659d8401f9f4274367ecb50",
                            "id": 103,
                            "unique_id": "HKJHSH86"
                        }
                    ],
                    "owner": {
                        "username": "Barry White",
                        "slug": "barry-white",
                        "unique_id": "206923464",
                        "email": "barry@derby.gov.uk",
                        "plan_name": "Enterprise",
                        "max_location_users": 10
                    },
                    "invites": [
                        {
                            "token": "e7adddb4e68a6f250a57b3f7b1dd31e3",
                            "email": "user@polkaspots.com",
                            "created_at": "1410737982"
                        },
                        {
                            "token": "e924c0ae9ea4a462a55dbd7be6d0ee23",
                            "email": "user2@polkaspots.com",
                            "created_at": "1410737979"
                        },
                        {
                            "token": "a863527a40c694173d59ef5c5201d307",
                            "email": "user3@polkaspots.com",
                            "created_at": "1410737976"
                        }
                    ]
                }
            }

## Clone a specific location [/location/{id}/duplicate{?location_name,address,users}]

Create a carbon copy of a location.

This job is processed in the background and you can't copy a location while there's already a clone in process. To check for the clone status, use the show action and attribute **clone_processing**. This will be true if there's a job underway.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + location_name (required, string, `My New Site`) ... The name of the new location.
    + address (required, string, `12 High Road, Derby D11`) ... The address of the new location, also required.
    + users (not-required, string, `true`) ... You can also copy existing admin users to the new location by setting this flag.

### Duplicate a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {
                "id": "derby-council",
                "location_name": "My New Site",
                "address": "12 High Road, Derby D1",
                "users": 'any-value'
            }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been queued for duplication. This may take a few minutes." } 

## Transfer a location [/location/{id}/transfer{?account_id}]

Copy the location to another user. If you transfer a location to a user with insufficient quota, the transfer will fail with a 422 error. Equally, a location can only be transferred if it's state is active.

It's really important to note that transferring a location will remove all location users. The new owner will need to re-invite all the users they require to administer the location.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + account_id (required, string, `A33333`) ... Account ID of the person to transfer the location to. Always starts with A.

### Transfer a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {
                "id": "derby-council",
                "account_id": "A111111"
            }

+ Response 200 (application/json)

    + Body

            { "message": "Your location is being transferred." } 

## Archive a specific location [/location/{id}/archive]

If you don't want to delete a location permanently, you can choose to archive it instead. Archived locations don't count towards your quota and you cannot use an archived location for public access.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Archive a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            { "id": "derby-council", }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been archived" } 

## Restore / Unarchive a specific location [/location/{id}/unarchive]

Restore an archived location to it's former glory.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

### Archive a location [POST]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
          
            { "id": "derby-council" }

+ Response 200 (application/json)

    + Body

            { "message": "Your location has been unarchived" } 

## Update a Location's firewall rules [/api/v1/location/{id}{?location,firewall_rules_attributes,params}]

You can either create firewall rules directly with the Firewall Rules API or you may update, create and delete when updating a location.

You must wrap the firewall_rules_attributes params in the location params. 

To delete a rule, simply set the _destroy field to 1.

By sending the ID of the firewall rule, we will assume you're going to update the values.

**NOTES**

Whilst it's ok to send the whole location object back when updating the firewall rules, your response times will be faster if you reduce the size of the request (see request below for an example). We'd recommend sending only the required location params back, id, slug and any others you may want to update.

+ Parameters

    + id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.
    + location (required, object ) ... An object which contains the firewall rule attributes
    + firewall_rules_attributes (required, object ) ... An object of firewall rule attributes

### Update your firewall rules [PATCH]

+ Request (application/json)

    + Headers
    
            Accept: application/json

    + Body
    
            {"location":
                {
                    "slug": "derby-city-council",
                    "id": 870,
                    "block_access_to_local": true,
                    "firewall_rules_attributes": [
                        {
                            "id": 5850,
                            "chain": "FORWARD",
                            "rule_spec": "I",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.4.124",
                            "source_port": 12,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": 34,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": 1
                        },
                        {
                            "id": 5851,
                            "chain": "FORWARD",
                            "rule_spec": "I",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.210.124",
                            "source_port": null,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": null,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": 2
                        },
                        {
                            "id": 5852,
                            "chain": "FORWARD",
                            "rule_spec": "A",
                            "string_patch": null,
                            "protocol": null,
                            "source_ip": "192.168.4.124",
                            "source_port": 1212,
                            "source_interface": null,
                            "out_interface": null,
                            "dest_ip": "local",
                            "dest_port": 1212,
                            "target": "ACCEPT",
                            "limit": null,
                            "c_state": null,
                            "log_level": null,
                            "location_id": 870,
                            "position": null,
                            "_destroy": "1"
                        }
                    ]
                }
            }

+ Response 200 (application/json)

    + Body

            { "message": "You have updated Derby Council" } 

## Test your newsletter settings [/api/v1/locations/{location_id}/newsletter_test]

After you've created your newsletter, we can programatically test if your credentials are correct.

This entails calling either the MailChimp or Campaign Monitor APIs and adding an email. If it's a success, we'll post the results back with the location parameter **newsletter_test_results**. This will be one of the following:

- NULL - test not run or key expired
- true - test passed, everything is ok
- false - test failed, please try new credentials

### Test your newsletter settings [POST]

+ Parameters

    + location_id (required, string, `derby-city-council`) ... Slug `slug` of the Location to perform action with. Has example value.

+ Request (application/json)
    
        {
            "id": "your-id",
        }

+ Response 200 (application/json)

        {
            "message": "Successfully created payload to test newsletter.",
            "status": "processing"
        }
        
# Group Jobs

Jobs, or events as they should really be named, are things that happen to your boxes. Jobs include device heartbeats, payload commands and more. 

They are a nested resource in the Boxes API.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

## Jobs Collection [/api/v1/boxes/{box_id}/jobs]

You can filter the log_level betweeen 1 and 3.

### List Box jobs [GET]

+ Parameters

    + box_id (required, string, `JCyK7Zwh0ON_ZOWso8Mhuw`) ... Slug `slug` of the Box to perform action with. Has example value.

+ Response 200 (application/json)

    + Body
    
            [{
                "resource": "nas",
                "log_level": 1,
                "private": null,
                "event_id": "a563101c78f51a1c308b1bb3b0d1d9f3",
                "user_id": null,
                "data": {
                    "timestamp": 1412212262,
                    "resource_id": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "message": "device heartbeat",
                    "mac": null,
                    "type": "state_event",
                    "nas": {
                        "state": null
                    }
                }
            },
            {
                "resource": "nas",
                "log_level": 3,
                "private": null,
                "event_id": "fbaafd9701de91b50d40fd60ca184a1f",
                "user_id": null,
                "data": {
                    "timestamp": 1412212261,
                    "resource_id": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "message": "Box with mac DC-9F-DB-3D-AC-49 went queued",
                    "mac": "DC-9F-DB-3D-AC-49",
                    "type": "state_event",
                    "nas": {
                        "state": "queued"
                    }
                }
            },
            {
                "resource": "nas",
                "log_level": 3,
                "private": null,
                "event_id": "1bf3e698075d27366eb6476de15dced3",
                "user_id": null,
                "data": {
                    "timestamp": 1412212261,
                    "resource_id": "JCyK7Zwh0ON_ZOWso8Mhuw",
                    "message": "Box with mac DC-9F-DB-3D-AC-49 went queued",
                    "mac": "DC-9F-DB-3D-AC-49",
                    "type": "state_event",
                    "nas": {
                        "state": "queued"
                    }
                }
            }]
        
# Group Metrics

Get aggregated and serial reporting data about your networks and usage.

This only available to enterprise users or those using the sense service.

A stay is a representation of a completed visit for a specific box & client. Stays are used to determine dwell times.

A stay has a start time and an end time and they are grouped by:

- Client MAC
- Box MAC
- Date

A stay is considered complete when the device has not been seen for more than 30 minutes.

For example, a device is first seen at 10am. The device is seen every minute until 11am. After which they device leaves the access point. Cucumber Tony will automatically mark this as a completed stay. This may not be completed immediately.

Should they come back after 30 minutes have passed, we will start a new stay for them.

If the device is seen only once, we consider the device to have passed through - this does not affect your dwell times.

Stays currently consider both associated and unassociated clients.

You may pass in various parameters to filter the results in different ways. See below.

The only end-point required is /api/v1/metrics - this provides all the required currently available public data. Filters are passed in as search params.

You can pass in your location_ids & ap_macs to filter for each action.

##Allowed HTTPs requests:

- `GET` - Retrieves a resource or list of resources

## Overview of Stays [/api/v1/metrics/{?location_ids,ap_macs,start,end}]

Summary stats of your network dwell times and stays including the counts, averages, max and min. values. You can filter using your location_ids or ap_macs as arrays.

+ Parameters

    + location_ids (optional, integer, `1,2,3`) ... Comma separated list of location IDs to filter the results.
    + ap_macs (optional, string, `11:22:11:22:22:11`) ... Comma separated list of mac addresses to filter the results.
    + start (optional, integer, `1406329200`) ... Start date for the query in Epoch / Unix format. Defaults to 100 days ago.
    + end (optional, integer, `1406329200`) ... End date for the query in Epoch / Unix format. Defaults to now.
    
### Summary stats for dwells, stays and sessions [GET]

+ Response 200 (application/json)

    + Body

            {
                "dwells": {
                    "dwells": {
                        "count": 4308144,
                        "min": 8979,
                        "max": 89987,
                        "avg": 677.060867974701,
                        "sum": 2916875716
                    },
                    "stays": {
                        "count": 2269436,
                        "min": 1,
                        "max": 326,
                        "avg": 2.066425314483422,
                        "sum": 4689620
                    },
                    "sessions": {
                        "count": 5874380,
                        "min": 1,
                        "max": 5077,
                        "avg": 9.827615169600877,
                        "sum": 57731146
                    }
                }
            }            

## Aggregated sessions, dwells and stays [/api/v1/metrics/{?aggs,location_ids,start,end,key}]

Aggregated summary data grouped by location_id. This provides a summary of dwell times for each invidivual location. Please use the locations api to determine full location information from the id. It is required you pass the search parameter "aggs" to use this end point. The key is equal to your location id

+ Parameters

    + aggs (required, boolean, `true`) ... Required to provide aggregated results.
    + key (optional, boolean, `location_id`) ... Required to provide aggregated results by location_id.
    + location_ids (optional, integer, `1,2,3`) ... Comma separated list of location IDs to filter the results.
    + ap_macs (optional, string, `11:22:11:22:22:11`) ... Comma separated list of mac addresses to filter the results.
    + start (optional, integer, `1406329200`) ... Start date for the query in Epoch / Unix format. Defaults to 100 days ago.
    + end (optional, integer, `1406329200`) ... End date for the query in Epoch / Unix format. Defaults to now.
    
### Aggregated data grouped by location_id [GET]

+ Response 200 (application/json)

    + Body

            {
                "aggs": {
                    "count": 3,
                    "locations": [
                        {
                            "key": "32",
                            "dwells": {
                                "count": 3,
                                "min": 1000,
                                "max": 1000,
                                "avg": 1000,
                                "sum": 3000
                            },
                            "sessions": {
                                "count": 3,
                                "min": 1,
                                "max": 1,
                                "avg": 1,
                                "sum": 3
                            },
                            "stays": {
                                "count": 3,
                                "min": 12,
                                "max": 12,
                                "avg": 12,
                                "sum": 36
                            }
                        }
                    ]
                }
            }            
            
## Aggregated by ap_mac [/api/v1/metrics/{?aggs,location_ids,ap_macs,start,end,key}]

Aggregated summary data grouped by ap_mac. This provides a summary of dwell times for each invidivual access point. 

Pass key=ap_mac with the search params to group by ap_mac.

+ Parameters

    + aggs (required, boolean, `true`) ... Required to provide aggregated results.
    + key (required, string, `ap_mac`) ... Required to provide aggregated results by mac address of access point.
    + location_ids (optional, integer, `1,2,3`) ... Comma separated list of location IDs to filter the results.
    + ap_macs (optional, string, `11:22:11:22:22:11`) ... Comma separated list of mac addresses to filter the results.
    + start (optional, integer, `1406329200`) ... Start date for the query in Epoch / Unix format. Defaults to 100 days ago.
    + end (optional, integer, `1406329200`) ... End date for the query in Epoch / Unix format. Defaults to now.
    
### Aggregated data grouped by ap_mac [GET]

+ Response 200 (application/json)

## Aggregated by manufacturer [/api/v1/metrics/{?aggs,location_ids,ap_macs,start,end,key}]

Aggregated summary data grouped by manufacturer. Pass key=man with query to activate.

+ Parameters

    + aggs (required, boolean, `true`) ... Required to provide aggregated results.
    + key (required, string, `man`) ... Required to provide aggregated results by manufacturer.
    + location_ids (optional, integer, `1,2,3`) ... Comma separated list of location IDs to filter the results.
    + ap_macs (optional, string, `11:22:11:22:22:11`) ... Comma separated list of mac addresses to filter the results.
    + start (optional, integer, `1406329200`) ... Start date for the query in Epoch / Unix format. Defaults to 100 days ago.
    + end (optional, integer, `1406329200`) ... End date for the query in Epoch / Unix format. Defaults to now.
    
### Aggregated data grouped by manufacturer [GET]

+ Response 200 (application/json)

    + Body

            {
                "aggs": {
                    "count": 3,
                    "locations": [
                        {
                            "key": "apple",
                            "dwells": {
                                "count": 3,
                                "min": 1000.0,
                                "max": 1000.0,
                                "avg": 1000.0,
                                "sum": 3000.0
                            },
                            "sessions": {
                                "count": 3,
                                "min": 1.0,
                                "max": 1.0,
                                "avg": 1.0,
                                "sum": 3.0
                            },
                            "stays": {
                                "count": 3,
                                "min": 12.0,
                                "max": 12.0,
                                "avg": 12.0,
                                "sum": 36.0
                            }
                        }
                    ]
                }
            }            

## Aggregated by time [/api/v1/metrics/{?aggs,location_ids,ap_macs,start,end,key}]

Aggregated summary data grouped by time. You can pass in key=hour or key=day to group accordingly.

The key will be the day number or hour.

+ Parameters

    + aggs (required, boolean, `true`) ... Required to provide aggregated results.
    + key (required, string, `day`) ... Required to provide aggregated results by day or hour.
    + location_ids (optional, integer, `1,2,3`) ... Comma separated list of location IDs to filter the results.
    + ap_macs (optional, string, `11:22:11:22:22:11`) ... Comma separated list of mac addresses to filter the results.
    + start (optional, integer, `1406329200`) ... Start date for the query in Epoch / Unix format. Defaults to 100 days ago.
    + end (optional, integer, `1406329200`) ... End date for the query in Epoch / Unix format. Defaults to now.
    
### Aggregated data grouped by time [GET]

+ Response 200 (application/json)

    + Body
            
            {
                "aggs": {
                    "count": 3,
                    "locations": [
                        {
                            "key": 3,
                            "dwells": {
                                "count": 2,
                                "min": 1000.0,
                                "max": 1000.0,
                                "avg": 1000.0,
                                "sum": 2000.0
                            },
                            "sessions": {
                                "count": 2,
                                "min": 1.0,
                                "max": 1.0,
                                "avg": 1.0,
                                "sum": 2.0
                            },
                            "stays": {
                                "count": 2,
                                "min": 12.0,
                                "max": 12.0,
                                "avg": 12.0,
                                "sum": 24.0
                            }
                        },
                        {
                            "key": 4,
                            "dwells": {
                                "count": 1,
                                "min": 1000.0,
                                "max": 1000.0,
                                "avg": 1000.0,
                                "sum": 1000.0
                            },
                            "sessions": {
                                "count": 1,
                                "min": 1.0,
                                "max": 1.0,
                                "avg": 1.0,
                                "sum": 1.0
                            },
                            "stays": {
                                "count": 1,
                                "min": 12.0,
                                "max": 12.0,
                                "avg": 12.0,
                                "sum": 12.0
                            }
                        }
                    ]
                }

## Histogram of sessions, dwells and stays grouped by day or hour [/api/v1/metrics/{?timeline,location_ids,ap_macs,start,end}]

[...]
